<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/category-bg.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{127,77}</string>
			<key>spriteSourceSize</key>
			<string>{127,77}</string>
			<key>textureRect</key>
			<string>{{1282,130},{127,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/category-dot.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{77,77}</string>
			<key>spriteSourceSize</key>
			<string>{77,77}</string>
			<key>textureRect</key>
			<string>{{1411,130},{77,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/changelog.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,51}</string>
			<key>spriteSourceSize</key>
			<string>{40,51}</string>
			<key>textureRect</key>
			<string>{{1301,210},{40,51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/close.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,50}</string>
			<key>spriteSourceSize</key>
			<string>{50,50}</string>
			<key>textureRect</key>
			<string>{{1343,210},{50,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_LB_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.50,-0.25}</string>
			<key>spriteSize</key>
			<string>{58,41}</string>
			<key>spriteSourceSize</key>
			<string>{58,41}</string>
			<key>textureRect</key>
			<string>{{1835,210},{58,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_LT_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.50,-0.25}</string>
			<key>spriteSize</key>
			<string>{58,41}</string>
			<key>spriteSourceSize</key>
			<string>{58,41}</string>
			<key>textureRect</key>
			<string>{{1895,210},{58,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_RB_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.50,-0.25}</string>
			<key>spriteSize</key>
			<string>{58,41}</string>
			<key>spriteSourceSize</key>
			<string>{58,41}</string>
			<key>textureRect</key>
			<string>{{1955,210},{58,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/controllerBtn_RT_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.50,-0.25}</string>
			<key>spriteSize</key>
			<string>{58,41}</string>
			<key>spriteSourceSize</key>
			<string>{58,41}</string>
			<key>textureRect</key>
			<string>{{2015,210},{58,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/delete-white.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0}</string>
			<key>spriteSize</key>
			<string>{35,50}</string>
			<key>spriteSourceSize</key>
			<string>{35,50}</string>
			<key>textureRect</key>
			<string>{{1395,210},{35,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/double-nav.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,-5.75}</string>
			<key>spriteSize</key>
			<string>{88,119}</string>
			<key>spriteSourceSize</key>
			<string>{88,119}</string>
			<key>textureRect</key>
			<string>{{2586,0},{88,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/download-mods-here.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0}</string>
			<key>spriteSize</key>
			<string>{250,72}</string>
			<key>spriteSourceSize</key>
			<string>{250,72}</string>
			<key>textureRect</key>
			<string>{{1490,130},{250,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/download.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{85,97}</string>
			<key>spriteSourceSize</key>
			<string>{85,97}</string>
			<key>textureRect</key>
			<string>{{2894,0},{85,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/exclamation-red.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,57}</string>
			<key>spriteSourceSize</key>
			<string>{28,57}</string>
			<key>textureRect</key>
			<string>{{613,210},{28,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/exclamation.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{19,60}</string>
			<key>spriteSourceSize</key>
			<string>{19,60}</string>
			<key>textureRect</key>
			<string>{{4061,0},{19,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/external-link.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{68,210},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/file-add.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47,59}</string>
			<key>spriteSourceSize</key>
			<string>{47,59}</string>
			<key>textureRect</key>
			<string>{{200,210},{47,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/file.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47,59}</string>
			<key>spriteSourceSize</key>
			<string>{47,59}</string>
			<key>textureRect</key>
			<string>{{249,210},{47,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-list-side.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{4,60}</string>
			<key>spriteSourceSize</key>
			<string>{4,60}</string>
			<key>textureRect</key>
			<string>{{4082,0},{4,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-list-top.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{687,32}</string>
			<key>spriteSourceSize</key>
			<string>{687,32}</string>
			<key>textureRect</key>
			<string>{{2075,210},{687,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/gift.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0}</string>
			<key>spriteSize</key>
			<string>{60,59}</string>
			<key>spriteSourceSize</key>
			<string>{60,59}</string>
			<key>textureRect</key>
			<string>{{298,210},{60,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/github.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0}</string>
			<key>spriteSize</key>
			<string>{60,59}</string>
			<key>spriteSourceSize</key>
			<string>{60,59}</string>
			<key>textureRect</key>
			<string>{{360,210},{60,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/globe.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{89,89}</string>
			<key>spriteSourceSize</key>
			<string>{89,89}</string>
			<key>textureRect</key>
			<string>{{2981,0},{89,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/grid-view.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,46}</string>
			<key>spriteSourceSize</key>
			<string>{46,46}</string>
			<key>textureRect</key>
			<string>{{1632,210},{46,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/homepage.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0}</string>
			<key>spriteSize</key>
			<string>{60,59}</string>
			<key>spriteSourceSize</key>
			<string>{60,59}</string>
			<key>textureRect</key>
			<string>{{422,210},{60,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/hue-sliders.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{87,88}</string>
			<key>spriteSourceSize</key>
			<string>{87,88}</string>
			<key>textureRect</key>
			<string>{{3072,0},{87,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/info-alert.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,46}</string>
			<key>spriteSourceSize</key>
			<string>{46,46}</string>
			<key>textureRect</key>
			<string>{{1680,210},{46,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/info-warning.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.25}</string>
			<key>spriteSize</key>
			<string>{57,49}</string>
			<key>spriteSourceSize</key>
			<string>{57,49}</string>
			<key>textureRect</key>
			<string>{{1466,210},{57,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/install.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,-0.75}</string>
			<key>spriteSize</key>
			<string>{39,45}</string>
			<key>spriteSourceSize</key>
			<string>{39,45}</string>
			<key>textureRect</key>
			<string>{{1728,210},{39,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/keybinds.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,43}</string>
			<key>spriteSourceSize</key>
			<string>{64,43}</string>
			<key>textureRect</key>
			<string>{{1769,210},{64,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/message.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,56}</string>
			<key>spriteSourceSize</key>
			<string>{60,56}</string>
			<key>textureRect</key>
			<string>{{782,210},{60,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-bottom-gd.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{778,70}</string>
			<key>spriteSourceSize</key>
			<string>{778,70}</string>
			<key>textureRect</key>
			<string>{{1742,130},{778,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-bottom-sapphire.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{778,70}</string>
			<key>spriteSourceSize</key>
			<string>{778,70}</string>
			<key>textureRect</key>
			<string>{{2522,130},{778,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-bottom.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{778,70}</string>
			<key>spriteSourceSize</key>
			<string>{778,70}</string>
			<key>textureRect</key>
			<string>{{3302,130},{778,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-side-gd.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,128}</string>
			<key>spriteSourceSize</key>
			<string>{33,128}</string>
			<key>textureRect</key>
			<string>{{0,0},{33,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-side-sapphire.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,128}</string>
			<key>spriteSourceSize</key>
			<string>{33,128}</string>
			<key>textureRect</key>
			<string>{{35,0},{33,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-side.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,128}</string>
			<key>spriteSourceSize</key>
			<string>{33,128}</string>
			<key>textureRect</key>
			<string>{{70,0},{33,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-top-gd.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{825,120}</string>
			<key>spriteSourceSize</key>
			<string>{825,120}</string>
			<key>textureRect</key>
			<string>{{105,0},{825,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-top-sapphire.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{825,120}</string>
			<key>spriteSourceSize</key>
			<string>{825,120}</string>
			<key>textureRect</key>
			<string>{{932,0},{825,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/mods-list-top.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{825,120}</string>
			<key>spriteSourceSize</key>
			<string>{825,120}</string>
			<key>textureRect</key>
			<string>{{1759,0},{825,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/news.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,47}</string>
			<key>spriteSourceSize</key>
			<string>{41,47}</string>
			<key>textureRect</key>
			<string>{{1589,210},{41,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/persistent.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,0.50}</string>
			<key>spriteSize</key>
			<string>{62,49}</string>
			<key>spriteSourceSize</key>
			<string>{62,49}</string>
			<key>textureRect</key>
			<string>{{1525,210},{62,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/pin.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{134,210},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reload-gold.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{65,58}</string>
			<key>spriteSourceSize</key>
			<string>{65,58}</string>
			<key>textureRect</key>
			<string>{{546,210},{65,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reload.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,57}</string>
			<key>spriteSourceSize</key>
			<string>{64,57}</string>
			<key>textureRect</key>
			<string>{{643,210},{64,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reset-gold.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,2.50}</string>
			<key>spriteSize</key>
			<string>{55,53}</string>
			<key>spriteSourceSize</key>
			<string>{55,53}</string>
			<key>textureRect</key>
			<string>{{1187,210},{55,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/reset.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,2.50}</string>
			<key>spriteSize</key>
			<string>{55,53}</string>
			<key>spriteSourceSize</key>
			<string>{55,53}</string>
			<key>textureRect</key>
			<string>{{1244,210},{55,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/save.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,0}</string>
			<key>spriteSize</key>
			<string>{56,56}</string>
			<key>spriteSourceSize</key>
			<string>{56,56}</string>
			<key>textureRect</key>
			<string>{{844,210},{56,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/search.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{104,106}</string>
			<key>spriteSourceSize</key>
			<string>{104,106}</string>
			<key>textureRect</key>
			<string>{{2788,0},{104,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/settings.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-1.75}</string>
			<key>spriteSize</key>
			<string>{66,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,65}</string>
			<key>textureRect</key>
			<string>{{0,210},{66,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/source_generic.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,0}</string>
			<key>spriteSize</key>
			<string>{60,59}</string>
			<key>spriteSourceSize</key>
			<string>{60,59}</string>
			<key>textureRect</key>
			<string>{{484,210},{60,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tab-bg.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{110,110}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{2676,0},{110,110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-api.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{3161,0},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-featured.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.25}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{3249,0},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-joke.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.25}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{3337,0},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24-long.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.25}</string>
			<key>spriteSize</key>
			<string>{350,78}</string>
			<key>spriteSourceSize</key>
			<string>{350,78}</string>
			<key>textureRect</key>
			<string>{{3425,0},{350,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24-winner-long.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.25}</string>
			<key>spriteSize</key>
			<string>{282,78}</string>
			<key>spriteSourceSize</key>
			<string>{282,78}</string>
			<key>textureRect</key>
			<string>{{3777,0},{282,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24-winner.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.25}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{0,130},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober24.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.25}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{88,130},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25-long.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.25}</string>
			<key>spriteSize</key>
			<string>{350,78}</string>
			<key>spriteSourceSize</key>
			<string>{350,78}</string>
			<key>textureRect</key>
			<string>{{176,130},{350,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25-winner-long.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.25}</string>
			<key>spriteSize</key>
			<string>{282,78}</string>
			<key>spriteSourceSize</key>
			<string>{282,78}</string>
			<key>textureRect</key>
			<string>{{528,130},{282,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25-winner.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.25}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{812,130},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-modtober25.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.25}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{900,130},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-paid-long.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.25}</string>
			<key>spriteSize</key>
			<string>{204,78}</string>
			<key>spriteSourceSize</key>
			<string>{204,78}</string>
			<key>textureRect</key>
			<string>{{988,130},{204,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/tag-paid.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.25,0.25}</string>
			<key>spriteSize</key>
			<string>{86,78}</string>
			<key>spriteSourceSize</key>
			<string>{86,78}</string>
			<key>textureRect</key>
			<string>{{1194,130},{86,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/update.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,57}</string>
			<key>spriteSourceSize</key>
			<string>{71,57}</string>
			<key>textureRect</key>
			<string>{{709,210},{71,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-available.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,55}</string>
			<key>spriteSourceSize</key>
			<string>{55,55}</string>
			<key>textureRect</key>
			<string>{{902,210},{55,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-deprecated.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,55}</string>
			<key>spriteSourceSize</key>
			<string>{55,55}</string>
			<key>textureRect</key>
			<string>{{959,210},{55,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-failed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,55}</string>
			<key>spriteSourceSize</key>
			<string>{55,55}</string>
			<key>textureRect</key>
			<string>{{1016,210},{55,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-installed.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,55}</string>
			<key>spriteSourceSize</key>
			<string>{55,55}</string>
			<key>textureRect</key>
			<string>{{1073,210},{55,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/updates-multiple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,55}</string>
			<key>spriteSourceSize</key>
			<string>{55,55}</string>
			<key>textureRect</key>
			<string>{{1130,210},{55,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/version.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,50}</string>
			<key>spriteSourceSize</key>
			<string>{32,50}</string>
			<key>textureRect</key>
			<string>{{1432,210},{32,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/APISheet-hd.png</string>
		<key>size</key>
		<string>{4086,275}</string>
		<key>textureFileName</key>
		<string>geode.loader/APISheet-hd.png</string>
	</dict>
</dict>
</plist>