<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/baseAccount_Normal_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-0.75}</string>
			<key>spriteSize</key>
			<string>{83,81}</string>
			<key>spriteSourceSize</key>
			<string>{83,81}</string>
			<key>textureRect</key>
			<string>{{1589,210},{83,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-0.75}</string>
			<key>spriteSize</key>
			<string>{83,81}</string>
			<key>spriteSourceSize</key>
			<string>{83,81}</string>
			<key>textureRect</key>
			<string>{{1674,210},{83,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Purple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-0.75}</string>
			<key>spriteSize</key>
			<string>{83,81}</string>
			<key>spriteSourceSize</key>
			<string>{83,81}</string>
			<key>textureRect</key>
			<string>{{1759,210},{83,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCategory_Big_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5.25,-5.25}</string>
			<key>spriteSize</key>
			<string>{197,197}</string>
			<key>spriteSourceSize</key>
			<string>{197,197}</string>
			<key>textureRect</key>
			<string>{{210,0},{197,197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-2.75}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{105,109}</string>
			<key>textureRect</key>
			<string>{{1775,0},{105,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-2.75}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{105,109}</string>
			<key>textureRect</key>
			<string>{{1882,0},{105,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-2.75}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{105,109}</string>
			<key>textureRect</key>
			<string>{{1989,0},{105,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-2.75}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{105,109}</string>
			<key>textureRect</key>
			<string>{{2096,0},{105,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-2.75}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{105,109}</string>
			<key>textureRect</key>
			<string>{{2203,0},{105,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-2.75}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{105,109}</string>
			<key>textureRect</key>
			<string>{{2310,0},{105,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-2.75}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{105,109}</string>
			<key>textureRect</key>
			<string>{{2417,0},{105,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Red.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-2.75}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{105,109}</string>
			<key>textureRect</key>
			<string>{{2524,0},{105,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Big_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,-1.75}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,106}</string>
			<key>textureRect</key>
			<string>{{2631,0},{105,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Big_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,-1.75}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,106}</string>
			<key>textureRect</key>
			<string>{{2738,0},{105,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Big_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,-1.75}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,106}</string>
			<key>textureRect</key>
			<string>{{2845,0},{105,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Big_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,-1.75}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,106}</string>
			<key>textureRect</key>
			<string>{{2952,0},{105,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Big_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,-1.75}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,106}</string>
			<key>textureRect</key>
			<string>{{3059,0},{105,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Big_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,-1.75}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,106}</string>
			<key>textureRect</key>
			<string>{{3166,0},{105,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Big_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.25,-1.75}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,106}</string>
			<key>textureRect</key>
			<string>{{3273,0},{105,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Big_Red.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,106}</string>
			<key>textureRect</key>
			<string>{{3380,0},{105,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{152,155}</string>
			<key>textureRect</key>
			<string>{{409,0},{152,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{152,155}</string>
			<key>textureRect</key>
			<string>{{563,0},{152,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{152,155}</string>
			<key>textureRect</key>
			<string>{{717,0},{152,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{152,155}</string>
			<key>textureRect</key>
			<string>{{871,0},{152,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{152,155}</string>
			<key>textureRect</key>
			<string>{{1025,0},{152,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{152,155}</string>
			<key>textureRect</key>
			<string>{{1179,0},{152,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{152,155}</string>
			<key>textureRect</key>
			<string>{{1333,0},{152,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Large_Red.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,-1.75}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{152,155}</string>
			<key>textureRect</key>
			<string>{{1487,0},{152,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,-3.50}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{97,101}</string>
			<key>textureRect</key>
			<string>{{3487,0},{97,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,-3.50}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{97,101}</string>
			<key>textureRect</key>
			<string>{{3586,0},{97,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,-3.50}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{97,101}</string>
			<key>textureRect</key>
			<string>{{3685,0},{97,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,-3.50}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{97,101}</string>
			<key>textureRect</key>
			<string>{{3784,0},{97,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,-3.50}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{97,101}</string>
			<key>textureRect</key>
			<string>{{3883,0},{97,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,-3.50}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{97,101}</string>
			<key>textureRect</key>
			<string>{{3982,0},{97,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,-3.50}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{97,101}</string>
			<key>textureRect</key>
			<string>{{0,210},{97,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Red.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.75,-3.50}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{97,101}</string>
			<key>textureRect</key>
			<string>{{99,210},{97,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{89,91}</string>
			<key>textureRect</key>
			<string>{{198,210},{89,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{89,91}</string>
			<key>textureRect</key>
			<string>{{289,210},{89,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{89,91}</string>
			<key>textureRect</key>
			<string>{{380,210},{89,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{89,91}</string>
			<key>textureRect</key>
			<string>{{471,210},{89,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{89,91}</string>
			<key>textureRect</key>
			<string>{{562,210},{89,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{89,91}</string>
			<key>textureRect</key>
			<string>{{653,210},{89,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{89,91}</string>
			<key>textureRect</key>
			<string>{{744,210},{89,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Red.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,-2}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{89,91}</string>
			<key>textureRect</key>
			<string>{{835,210},{89,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{81,82}</string>
			<key>textureRect</key>
			<string>{{926,210},{81,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{81,82}</string>
			<key>textureRect</key>
			<string>{{1009,210},{81,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{81,82}</string>
			<key>textureRect</key>
			<string>{{1092,210},{81,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{81,82}</string>
			<key>textureRect</key>
			<string>{{1175,210},{81,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{81,82}</string>
			<key>textureRect</key>
			<string>{{1258,210},{81,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{81,82}</string>
			<key>textureRect</key>
			<string>{{1341,210},{81,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{81,82}</string>
			<key>textureRect</key>
			<string>{{1424,210},{81,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Red.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,-1.50}</string>
			<key>spriteSize</key>
			<string>{80,82}</string>
			<key>spriteSourceSize</key>
			<string>{80,82}</string>
			<key>textureRect</key>
			<string>{{1507,210},{80,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{74,75}</string>
			<key>textureRect</key>
			<string>{{1844,210},{74,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{74,75}</string>
			<key>textureRect</key>
			<string>{{1920,210},{74,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{74,75}</string>
			<key>textureRect</key>
			<string>{{1996,210},{74,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{74,75}</string>
			<key>textureRect</key>
			<string>{{2072,210},{74,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{74,75}</string>
			<key>textureRect</key>
			<string>{{2148,210},{74,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{74,75}</string>
			<key>textureRect</key>
			<string>{{2224,210},{74,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{74,75}</string>
			<key>textureRect</key>
			<string>{{2300,210},{74,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Small_Red.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,-1.50}</string>
			<key>spriteSize</key>
			<string>{73,75}</string>
			<key>spriteSourceSize</key>
			<string>{73,75}</string>
			<key>textureRect</key>
			<string>{{2376,210},{73,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{51,52}</string>
			<key>textureRect</key>
			<string>{{3944,210},{51,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{51,52}</string>
			<key>textureRect</key>
			<string>{{3997,210},{51,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_DarkAqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{51,52}</string>
			<key>textureRect</key>
			<string>{{186,313},{51,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_DarkPurple.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{51,52}</string>
			<key>textureRect</key>
			<string>{{239,313},{51,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{51,52}</string>
			<key>textureRect</key>
			<string>{{292,313},{51,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{51,52}</string>
			<key>textureRect</key>
			<string>{{345,313},{51,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{51,52}</string>
			<key>textureRect</key>
			<string>{{398,313},{51,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Red.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,-1.25}</string>
			<key>spriteSize</key>
			<string>{50,51}</string>
			<key>spriteSourceSize</key>
			<string>{50,51}</string>
			<key>textureRect</key>
			<string>{{451,313},{50,51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCross_Huge_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5.25,-5.50}</string>
			<key>spriteSize</key>
			<string>{208,208}</string>
			<key>spriteSourceSize</key>
			<string>{208,208}</string>
			<key>textureRect</key>
			<string>{{0,0},{208,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCross_Small_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.75,-3.75}</string>
			<key>spriteSize</key>
			<string>{132,132}</string>
			<key>spriteSourceSize</key>
			<string>{132,132}</string>
			<key>textureRect</key>
			<string>{{1641,0},{132,132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Aqua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2451,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2517,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_BrightGreen.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2583,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Cyan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2649,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_DarkGray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2715,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_DimGreen.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2781,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2847,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Green.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2913,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_LightBlue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2979,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Magenta.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{3045,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Orange.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{3111,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Pink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{3177,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Salmon.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{3243,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Teal.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{3309,210},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{62,63}</string>
			<key>spriteSourceSize</key>
			<string>{62,63}</string>
			<key>textureRect</key>
			<string>{{3444,210},{62,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Unselected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.75}</string>
			<key>spriteSize</key>
			<string>{62,63}</string>
			<key>spriteSourceSize</key>
			<string>{62,63}</string>
			<key>textureRect</key>
			<string>{{3508,210},{62,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseLeaderboard_Normal_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-0.75}</string>
			<key>spriteSize</key>
			<string>{67,65}</string>
			<key>spriteSourceSize</key>
			<string>{67,65}</string>
			<key>textureRect</key>
			<string>{{3375,210},{67,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_Selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,57}</string>
			<key>spriteSourceSize</key>
			<string>{184,57}</string>
			<key>textureRect</key>
			<string>{{0,313},{184,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_Unselected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1.75}</string>
			<key>spriteSize</key>
			<string>{184,60}</string>
			<key>spriteSourceSize</key>
			<string>{184,60}</string>
			<key>textureRect</key>
			<string>{{3572,210},{184,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_UnselectedDark.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1.75}</string>
			<key>spriteSize</key>
			<string>{184,60}</string>
			<key>spriteSourceSize</key>
			<string>{184,60}</string>
			<key>textureRect</key>
			<string>{{3758,210},{184,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/BlankSheet-hd.png</string>
		<key>size</key>
		<string>{4079,370}</string>
		<key>textureFileName</key>
		<string>geode.loader/BlankSheet-hd.png</string>
	</dict>
</dict>
</plist>