<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/geode-circle.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{1084,0},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-logo-alternate.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{162,162}</string>
			<key>spriteSourceSize</key>
			<string>{162,162}</string>
			<key>textureRect</key>
			<string>{{187,0},{162,162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-logo-color.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{114,114}</string>
			<key>spriteSourceSize</key>
			<string>{114,114}</string>
			<key>textureRect</key>
			<string>{{843,0},{114,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-logo-outline-gold.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,63}</string>
			<key>spriteSourceSize</key>
			<string>{64,63}</string>
			<key>textureRect</key>
			<string>{{1150,0},{64,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-logo-outline.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{1018,0},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/geode-logo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{162,162}</string>
			<key>spriteSourceSize</key>
			<string>{162,162}</string>
			<key>textureRect</key>
			<string>{{351,0},{162,162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/logo-base.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{162,162}</string>
			<key>spriteSourceSize</key>
			<string>{162,162}</string>
			<key>textureRect</key>
			<string>{{515,0},{162,162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/logo-glow.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.25,-0.25}</string>
			<key>spriteSize</key>
			<string>{185,187}</string>
			<key>spriteSourceSize</key>
			<string>{185,187}</string>
			<key>textureRect</key>
			<string>{{0,0},{185,187}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/sapphire-logo-outline-gold.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,66}</string>
			<key>spriteSourceSize</key>
			<string>{57,66}</string>
			<key>textureRect</key>
			<string>{{959,0},{57,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/sapphire-logo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{162,162}</string>
			<key>spriteSourceSize</key>
			<string>{162,162}</string>
			<key>textureRect</key>
			<string>{{679,0},{162,162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/LogoSheet-hd.png</string>
		<key>size</key>
		<string>{1214,187}</string>
		<key>textureFileName</key>
		<string>geode.loader/LogoSheet-hd.png</string>
	</dict>
</dict>
</plist>