<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>flingus.geometry_pride/Aromantic.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.50,-3}</string>
			<key>spriteSize</key>
			<string>{850,97}</string>
			<key>spriteSourceSize</key>
			<string>{850,97}</string>
			<key>textureRect</key>
			<string>{{0,0},{850,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>flingus.geometry_pride/Asexual.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.50,-3}</string>
			<key>spriteSize</key>
			<string>{850,97}</string>
			<key>spriteSourceSize</key>
			<string>{850,97}</string>
			<key>textureRect</key>
			<string>{{852,0},{850,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>flingus.geometry_pride/Bisexual.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.50,-3}</string>
			<key>spriteSize</key>
			<string>{850,97}</string>
			<key>spriteSourceSize</key>
			<string>{850,97}</string>
			<key>textureRect</key>
			<string>{{1704,0},{850,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>flingus.geometry_pride/Gay.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.50,-3}</string>
			<key>spriteSize</key>
			<string>{850,97}</string>
			<key>spriteSourceSize</key>
			<string>{850,97}</string>
			<key>textureRect</key>
			<string>{{2556,0},{850,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>flingus.geometry_pride/Genderfluid.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.50,-3}</string>
			<key>spriteSize</key>
			<string>{850,97}</string>
			<key>spriteSourceSize</key>
			<string>{850,97}</string>
			<key>textureRect</key>
			<string>{{0,99},{850,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>flingus.geometry_pride/Intersex.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.50,-3}</string>
			<key>spriteSize</key>
			<string>{850,97}</string>
			<key>spriteSourceSize</key>
			<string>{850,97}</string>
			<key>textureRect</key>
			<string>{{852,99},{850,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>flingus.geometry_pride/IntersexAccurate.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.50,-3}</string>
			<key>spriteSize</key>
			<string>{850,97}</string>
			<key>spriteSourceSize</key>
			<string>{850,97}</string>
			<key>textureRect</key>
			<string>{{1704,99},{850,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>flingus.geometry_pride/Lesbian.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.50,-3}</string>
			<key>spriteSize</key>
			<string>{850,97}</string>
			<key>spriteSourceSize</key>
			<string>{850,97}</string>
			<key>textureRect</key>
			<string>{{2556,99},{850,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>flingus.geometry_pride/Non-Binary.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.50,-3}</string>
			<key>spriteSize</key>
			<string>{850,97}</string>
			<key>spriteSourceSize</key>
			<string>{850,97}</string>
			<key>textureRect</key>
			<string>{{0,198},{850,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>flingus.geometry_pride/Pansexual.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.50,-3}</string>
			<key>spriteSize</key>
			<string>{850,97}</string>
			<key>spriteSourceSize</key>
			<string>{850,97}</string>
			<key>textureRect</key>
			<string>{{852,198},{850,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>flingus.geometry_pride/Progress.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.50,-3}</string>
			<key>spriteSize</key>
			<string>{850,97}</string>
			<key>spriteSourceSize</key>
			<string>{850,97}</string>
			<key>textureRect</key>
			<string>{{1704,198},{850,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>flingus.geometry_pride/Trans.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.50,-3}</string>
			<key>spriteSize</key>
			<string>{850,97}</string>
			<key>spriteSourceSize</key>
			<string>{850,97}</string>
			<key>textureRect</key>
			<string>{{2556,198},{850,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>flingus.geometry_pride/WokeSheet-hd.png</string>
		<key>size</key>
		<string>{3406,295}</string>
		<key>textureFileName</key>
		<string>flingus.geometry_pride/WokeSheet-hd.png</string>
	</dict>
</dict>
</plist>