<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>flingus.geometry_pride/Aromantic.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{7,-6}</string>
			<key>spriteSize</key>
			<string>{1700,195}</string>
			<key>spriteSourceSize</key>
			<string>{1716,208}</string>
			<key>textureRect</key>
			<string>{{0,0},{1700,195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>flingus.geometry_pride/Asexual.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{7,-6}</string>
			<key>spriteSize</key>
			<string>{1700,195}</string>
			<key>spriteSourceSize</key>
			<string>{1716,208}</string>
			<key>textureRect</key>
			<string>{{0,197},{1700,195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>flingus.geometry_pride/Bisexual.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{7,-6}</string>
			<key>spriteSize</key>
			<string>{1700,195}</string>
			<key>spriteSourceSize</key>
			<string>{1716,208}</string>
			<key>textureRect</key>
			<string>{{0,394},{1700,195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>flingus.geometry_pride/Gay.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{7,-6}</string>
			<key>spriteSize</key>
			<string>{1700,195}</string>
			<key>spriteSourceSize</key>
			<string>{1716,208}</string>
			<key>textureRect</key>
			<string>{{0,591},{1700,195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>flingus.geometry_pride/Genderfluid.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{7,-6}</string>
			<key>spriteSize</key>
			<string>{1700,195}</string>
			<key>spriteSourceSize</key>
			<string>{1716,208}</string>
			<key>textureRect</key>
			<string>{{0,788},{1700,195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>flingus.geometry_pride/Intersex.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{7,-6}</string>
			<key>spriteSize</key>
			<string>{1700,195}</string>
			<key>spriteSourceSize</key>
			<string>{1716,208}</string>
			<key>textureRect</key>
			<string>{{0,985},{1700,195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>flingus.geometry_pride/IntersexAccurate.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{7,-6}</string>
			<key>spriteSize</key>
			<string>{1700,195}</string>
			<key>spriteSourceSize</key>
			<string>{1716,208}</string>
			<key>textureRect</key>
			<string>{{0,1182},{1700,195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>flingus.geometry_pride/Lesbian.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{7,-6}</string>
			<key>spriteSize</key>
			<string>{1700,195}</string>
			<key>spriteSourceSize</key>
			<string>{1716,208}</string>
			<key>textureRect</key>
			<string>{{0,1379},{1700,195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>flingus.geometry_pride/Non-Binary.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{7,-6}</string>
			<key>spriteSize</key>
			<string>{1700,195}</string>
			<key>spriteSourceSize</key>
			<string>{1716,208}</string>
			<key>textureRect</key>
			<string>{{1702,0},{1700,195}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>flingus.geometry_pride/Pansexual.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{7,-6}</string>
			<key>spriteSize</key>
			<string>{1700,195}</string>
			<key>spriteSourceSize</key>
			<string>{1716,208}</string>
			<key>textureRect</key>
			<string>{{0,1576},{1700,195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>flingus.geometry_pride/Progress.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{7,-6}</string>
			<key>spriteSize</key>
			<string>{1700,195}</string>
			<key>spriteSourceSize</key>
			<string>{1716,208}</string>
			<key>textureRect</key>
			<string>{{0,1773},{1700,195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>flingus.geometry_pride/Trans.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{7,-6}</string>
			<key>spriteSize</key>
			<string>{1700,195}</string>
			<key>spriteSourceSize</key>
			<string>{1716,208}</string>
			<key>textureRect</key>
			<string>{{0,1970},{1700,195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>flingus.geometry_pride/WokeSheet-uhd.png</string>
		<key>size</key>
		<string>{1897,2165}</string>
		<key>textureFileName</key>
		<string>flingus.geometry_pride/WokeSheet-uhd.png</string>
	</dict>
</dict>
</plist>