<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spaghettdev.gd-roulette/RL_listBorderBackground_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{320,320}</string>
			<key>spriteSourceSize</key>
			<string>{320,320}</string>
			<key>textureRect</key>
			<string>{{0,0},{320,320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spaghettdev.gd-roulette/RL_listBorderBackground_002.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,640}</string>
			<key>spriteSourceSize</key>
			<string>{60,640}</string>
			<key>textureRect</key>
			<string>{{322,0},{60,640}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spaghettdev.gd-roulette/RL_listBorderBottom_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,17}</string>
			<key>spriteSize</key>
			<string>{1556,169}</string>
			<key>spriteSourceSize</key>
			<string>{1556,206}</string>
			<key>textureRect</key>
			<string>{{0,322},{1556,169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spaghettdev.gd-roulette/RL_listBorderBottom_002.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,17}</string>
			<key>spriteSize</key>
			<string>{1556,169}</string>
			<key>spriteSourceSize</key>
			<string>{1556,206}</string>
			<key>textureRect</key>
			<string>{{0,493},{1556,169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spaghettdev.gd-roulette/RL_listBorderSide_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{11,0}</string>
			<key>spriteSize</key>
			<string>{88,256}</string>
			<key>spriteSourceSize</key>
			<string>{119,256}</string>
			<key>textureRect</key>
			<string>{{0,664},{88,256}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spaghettdev.gd-roulette/RL_listBorderTop_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-16}</string>
			<key>spriteSize</key>
			<string>{1576,175}</string>
			<key>spriteSourceSize</key>
			<string>{1576,215}</string>
			<key>textureRect</key>
			<string>{{0,754},{1576,175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spaghettdev.gd-roulette/RL_listBorderTop_002.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-16}</string>
			<key>spriteSize</key>
			<string>{1576,175}</string>
			<key>spriteSourceSize</key>
			<string>{1576,215}</string>
			<key>textureRect</key>
			<string>{{0,931},{1576,175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>spaghettdev.gd-roulette/ListBorder-uhd.png</string>
		<key>size</key>
		<string>{1576,1106}</string>
		<key>textureFileName</key>
		<string>spaghettdev.gd-roulette/ListBorder-uhd.png</string>
	</dict>
</dict>
</plist>