<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>raydeeux.variouscommenttweaks/boogleTranslate.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{49,49}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{0,0},{49,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/copy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{43,49}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{51,0},{43,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raydeeux.variouscommenttweaks/deeplTranslate.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{43,52}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{102,0},{43,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raydeeux.variouscommenttweaks/favorite.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{90,84}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{156,0},{90,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/hide.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{98,86}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{248,0},{98,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/ignore.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{45,45}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{348,0},{45,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/largeHighlight.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{811,190}</string>
			<key>spriteSourceSize</key>
			<string>{811,190}</string>
			<key>textureRect</key>
			<string>{{0,88},{811,190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/libreTranslate.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{44,45}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{0,280},{44,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raydeeux.variouscommenttweaks/paste.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{41,49}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{47,280},{41,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raydeeux.variouscommenttweaks/show.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{98,70}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{98,280},{98,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/tinyHighlight.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{811,85}</string>
			<key>spriteSourceSize</key>
			<string>{811,85}</string>
			<key>textureRect</key>
			<string>{{0,352},{811,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/translate.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{49,45}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{0,439},{49,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>raydeeux.variouscommenttweaks/spritesheetOne-uhd.png</string>
		<key>size</key>
		<string>{811,484}</string>
		<key>textureFileName</key>
		<string>raydeeux.variouscommenttweaks/spritesheetOne-uhd.png</string>
	</dict>
</dict>
</plist>