<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>raydeeux.variouscommenttweaks/boogleTranslate.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,0.50}</string>
			<key>spriteSize</key>
			<string>{24,24}</string>
			<key>spriteSourceSize</key>
			<string>{24,24}</string>
			<key>textureRect</key>
			<string>{{986,0},{24,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/copy.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,0.50}</string>
			<key>spriteSize</key>
			<string>{21,24}</string>
			<key>spriteSourceSize</key>
			<string>{21,24}</string>
			<key>textureRect</key>
			<string>{{1012,0},{21,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/deeplTranslate.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,0}</string>
			<key>spriteSize</key>
			<string>{21,26}</string>
			<key>spriteSourceSize</key>
			<string>{21,26}</string>
			<key>textureRect</key>
			<string>{{963,0},{21,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/favorite.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{45,42}</string>
			<key>spriteSourceSize</key>
			<string>{45,42}</string>
			<key>textureRect</key>
			<string>{{458,0},{45,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/hide.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{49,43}</string>
			<key>spriteSourceSize</key>
			<string>{49,43}</string>
			<key>textureRect</key>
			<string>{{407,0},{49,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/ignore.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,0.50}</string>
			<key>spriteSize</key>
			<string>{22,22}</string>
			<key>spriteSourceSize</key>
			<string>{22,22}</string>
			<key>textureRect</key>
			<string>{{1057,0},{22,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/largeHighlight.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{405,95}</string>
			<key>spriteSourceSize</key>
			<string>{405,95}</string>
			<key>textureRect</key>
			<string>{{0,0},{405,95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/libreTranslate.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{22,22}</string>
			<key>spriteSourceSize</key>
			<string>{22,22}</string>
			<key>textureRect</key>
			<string>{{1081,0},{22,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/paste.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,0.50}</string>
			<key>spriteSize</key>
			<string>{20,24}</string>
			<key>spriteSourceSize</key>
			<string>{20,24}</string>
			<key>textureRect</key>
			<string>{{1035,0},{20,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/show.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{49,35}</string>
			<key>spriteSourceSize</key>
			<string>{49,35}</string>
			<key>textureRect</key>
			<string>{{912,0},{49,35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/tinyHighlight.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{405,42}</string>
			<key>spriteSourceSize</key>
			<string>{405,42}</string>
			<key>textureRect</key>
			<string>{{505,0},{405,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/translate.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,0.50}</string>
			<key>spriteSize</key>
			<string>{24,22}</string>
			<key>spriteSourceSize</key>
			<string>{24,22}</string>
			<key>textureRect</key>
			<string>{{1105,0},{24,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>raydeeux.variouscommenttweaks/spritesheetOne-hd.png</string>
		<key>size</key>
		<string>{1129,95}</string>
		<key>textureFileName</key>
		<string>raydeeux.variouscommenttweaks/spritesheetOne-hd.png</string>
	</dict>
</dict>
</plist>