<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>raydeeux.xeroxedhalloffame/hallOfFame.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,0.50}</string>
			<key>spriteSize</key>
			<string>{59,52}</string>
			<key>spriteSourceSize</key>
			<string>{59,52}</string>
			<key>textureRect</key>
			<string>{{0,0},{59,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>raydeeux.xeroxedhalloffame/OneSpritesheet-hd.png</string>
		<key>size</key>
		<string>{59,52}</string>
		<key>textureFileName</key>
		<string>raydeeux.xeroxedhalloffame/OneSpritesheet-hd.png</string>
	</dict>
</dict>
</plist>