<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hjfod.betteredit/backups.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{51,56}</string>
			<key>spriteSourceSize</key>
			<string>{51,56}</string>
			<key>textureRect</key>
			<string>{{2140,0},{51,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/be-button.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{80,81}</string>
			<key>spriteSourceSize</key>
			<string>{80,81}</string>
			<key>textureRect</key>
			<string>{{761,0},{80,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/dailyLevelCorner-brown.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-2}</string>
			<key>spriteSize</key>
			<string>{95,94}</string>
			<key>spriteSourceSize</key>
			<string>{95,94}</string>
			<key>textureRect</key>
			<string>{{470,0},{95,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/dailyLevelCorner-dark.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-2}</string>
			<key>spriteSize</key>
			<string>{95,94}</string>
			<key>spriteSourceSize</key>
			<string>{95,94}</string>
			<key>textureRect</key>
			<string>{{567,0},{95,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/dailyLevelCorner-gray.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,-2}</string>
			<key>spriteSize</key>
			<string>{95,94}</string>
			<key>spriteSourceSize</key>
			<string>{95,94}</string>
			<key>textureRect</key>
			<string>{{664,0},{95,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/eye-off.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,65}</string>
			<key>spriteSourceSize</key>
			<string>{80,65}</string>
			<key>textureRect</key>
			<string>{{1490,0},{80,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/eye-on-alt.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{55,42}</string>
			<key>spriteSourceSize</key>
			<string>{55,42}</string>
			<key>textureRect</key>
			<string>{{2271,0},{55,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/eye-on.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.50,-1.50}</string>
			<key>spriteSize</key>
			<string>{80,58}</string>
			<key>spriteSourceSize</key>
			<string>{80,58}</string>
			<key>textureRect</key>
			<string>{{2058,0},{80,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/eye-white.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{76,54}</string>
			<key>spriteSourceSize</key>
			<string>{76,54}</string>
			<key>textureRect</key>
			<string>{{2193,0},{76,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/group-summary-all.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1.50}</string>
			<key>spriteSize</key>
			<string>{69,62}</string>
			<key>spriteSourceSize</key>
			<string>{69,62}</string>
			<key>textureRect</key>
			<string>{{1572,0},{69,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/group-summary-no-targets.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,-0.50}</string>
			<key>spriteSize</key>
			<string>{70,60}</string>
			<key>spriteSourceSize</key>
			<string>{70,60}</string>
			<key>textureRect</key>
			<string>{{1910,0},{70,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/group-summary-no-triggers.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.50}</string>
			<key>spriteSize</key>
			<string>{74,60}</string>
			<key>spriteSourceSize</key>
			<string>{74,60}</string>
			<key>textureRect</key>
			<string>{{1982,0},{74,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/group-summary-unused.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1.50}</string>
			<key>spriteSize</key>
			<string>{69,62}</string>
			<key>spriteSourceSize</key>
			<string>{69,62}</string>
			<key>textureRect</key>
			<string>{{1643,0},{69,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/group-summary-used.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,-1.50}</string>
			<key>spriteSize</key>
			<string>{69,62}</string>
			<key>spriteSourceSize</key>
			<string>{69,62}</string>
			<key>textureRect</key>
			<string>{{1714,0},{69,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/group-summary.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1.50}</string>
			<key>spriteSize</key>
			<string>{95,80}</string>
			<key>spriteSourceSize</key>
			<string>{95,80}</string>
			<key>textureRect</key>
			<string>{{843,0},{95,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/logs.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{52,67}</string>
			<key>spriteSourceSize</key>
			<string>{52,67}</string>
			<key>textureRect</key>
			<string>{{1375,0},{52,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/no-trigger.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.50}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{2328,0},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/preview-trigger-pause.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{59,67}</string>
			<key>spriteSourceSize</key>
			<string>{59,67}</string>
			<key>textureRect</key>
			<string>{{1429,0},{59,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/preview-trigger.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{61,62}</string>
			<key>spriteSourceSize</key>
			<string>{61,62}</string>
			<key>textureRect</key>
			<string>{{1785,0},{61,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/script.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,61}</string>
			<key>spriteSourceSize</key>
			<string>{60,61}</string>
			<key>textureRect</key>
			<string>{{1848,0},{60,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/slider-tick-small.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{5,15}</string>
			<key>spriteSourceSize</key>
			<string>{5,15}</string>
			<key>textureRect</key>
			<string>{{2395,0},{5,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/slider-tick.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{6,15}</string>
			<key>spriteSourceSize</key>
			<string>{6,15}</string>
			<key>textureRect</key>
			<string>{{2402,0},{6,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/square-box.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>textureRect</key>
			<string>{{2362,0},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/support-btn-glow.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{468,109}</string>
			<key>spriteSourceSize</key>
			<string>{468,109}</string>
			<key>textureRect</key>
			<string>{{0,0},{468,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/support-btn.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{433,74}</string>
			<key>spriteSourceSize</key>
			<string>{433,74}</string>
			<key>textureRect</key>
			<string>{{940,0},{433,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>hjfod.betteredit/UISheet-hd.png</string>
		<key>size</key>
		<string>{2408,109}</string>
		<key>textureFileName</key>
		<string>hjfod.betteredit/UISheet-hd.png</string>
	</dict>
</dict>
</plist>