<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>cocos2DxLogo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{180,48}</string>
				<key>spriteSourceSize</key>
				<string>{180,48}</string>
				<key>textureRect</key>
				<string>{{368,75},{180,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>fmodLogo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{180,48}</string>
				<key>spriteSourceSize</key>
				<string>{180,48}</string>
				<key>textureRect</key>
				<string>{{293,225},{180,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_lite_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2}</string>
				<key>spriteSize</key>
				<string>{177,58}</string>
				<key>spriteSourceSize</key>
				<string>{180,62}</string>
				<key>textureRect</key>
				<string>{{0,329},{177,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_logo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-2.5}</string>
				<key>spriteSize</key>
				<string>{607,74}</string>
				<key>spriteSourceSize</key>
				<string>{633,89}</string>
				<key>textureRect</key>
				<string>{{0,0},{607,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_md_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,-3.5}</string>
				<key>spriteSize</key>
				<string>{367,70}</string>
				<key>spriteSourceSize</key>
				<string>{374,77}</string>
				<key>textureRect</key>
				<string>{{0,75},{367,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_subzeroLogo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,-3.5}</string>
				<key>spriteSize</key>
				<string>{324,78}</string>
				<key>spriteSourceSize</key>
				<string>{331,85}</string>
				<key>textureRect</key>
				<string>{{0,146},{324,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gj_worldLogo_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,-3.5}</string>
				<key>spriteSize</key>
				<string>{267,77}</string>
				<key>spriteSourceSize</key>
				<string>{274,84}</string>
				<key>textureRect</key>
				<string>{{325,146},{267,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>RobTopLogoBig_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{292,103}</string>
				<key>spriteSourceSize</key>
				<string>{296,111}</string>
				<key>textureRect</key>
				<string>{{0,225},{292,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>GJ_LaunchSheet-hd.png</string>
			<key>size</key>
			<string>{607,387}</string>
			<key>textureFileName</key>
			<string>GJ_LaunchSheet-hd.png</string>
		</dict>
	</dict>
</plist>