<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GJ_lite_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{178,59}</string>
			<key>spriteSourceSize</key>
			<string>{178,59}</string>
			<key>textureRect</key>
			<string>{{2110,0},{178,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_logo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.50,-3.50}</string>
			<key>spriteSize</key>
			<string>{851,97}</string>
			<key>spriteSourceSize</key>
			<string>{851,97}</string>
			<key>textureRect</key>
			<string>{{293,0},{851,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_md_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-3.50}</string>
			<key>spriteSize</key>
			<string>{368,70}</string>
			<key>spriteSourceSize</key>
			<string>{368,70}</string>
			<key>textureRect</key>
			<string>{{1740,0},{368,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>RobTopLogoBig_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,-1.50}</string>
			<key>spriteSize</key>
			<string>{291,102}</string>
			<key>spriteSourceSize</key>
			<string>{291,102}</string>
			<key>textureRect</key>
			<string>{{0,0},{291,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>cocos2DxLogo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{180,48}</string>
			<key>spriteSourceSize</key>
			<string>{180,48}</string>
			<key>textureRect</key>
			<string>{{2290,0},{180,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fmodLogo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{180,47}</string>
			<key>spriteSourceSize</key>
			<string>{180,47}</string>
			<key>textureRect</key>
			<string>{{2472,0},{180,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_subzeroLogo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.50,-3.50}</string>
			<key>spriteSize</key>
			<string>{324,78}</string>
			<key>spriteSourceSize</key>
			<string>{324,78}</string>
			<key>textureRect</key>
			<string>{{1146,0},{324,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_worldLogo_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.50,-3}</string>
			<key>spriteSize</key>
			<string>{266,78}</string>
			<key>spriteSourceSize</key>
			<string>{266,78}</string>
			<key>textureRect</key>
			<string>{{1472,0},{266,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_LaunchSheet-hd.png</string>
		<key>size</key>
		<string>{2652,102}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:71d38a9ac19456aaef500614835d0efc:a121b0f209e6a62e181364263d8fb6e9:7d5c3afd3b92bdb6b931d2f277b34c00$</string>
		<key>textureFileName</key>
		<string>GJ_LaunchSheet-hd.png</string>
	</dict>
</dict>
</plist>