<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>chestPlatform_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{155,32}</string>
			<key>spriteSourceSize</key>
			<string>{155,32}</string>
			<key>textureRect</key>
			<string>{{3218,0},{155,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chestSpecial_01_price_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,33}</string>
			<key>spriteSourceSize</key>
			<string>{109,33}</string>
			<key>textureRect</key>
			<string>{{2108,0},{109,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chestSpecial_02_price_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,33}</string>
			<key>spriteSourceSize</key>
			<string>{109,33}</string>
			<key>textureRect</key>
			<string>{{2219,0},{109,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chestSpecial_03_price_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,33}</string>
			<key>spriteSourceSize</key>
			<string>{109,33}</string>
			<key>textureRect</key>
			<string>{{2330,0},{109,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_03_price_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,33}</string>
			<key>spriteSourceSize</key>
			<string>{109,33}</string>
			<key>textureRect</key>
			<string>{{2441,0},{109,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_04_price_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,33}</string>
			<key>spriteSourceSize</key>
			<string>{109,33}</string>
			<key>textureRect</key>
			<string>{{2552,0},{109,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_05_price_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,33}</string>
			<key>spriteSourceSize</key>
			<string>{109,33}</string>
			<key>textureRect</key>
			<string>{{2663,0},{109,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_06_price_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,33}</string>
			<key>spriteSourceSize</key>
			<string>{109,33}</string>
			<key>textureRect</key>
			<string>{{2774,0},{109,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_07_price_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,33}</string>
			<key>spriteSourceSize</key>
			<string>{109,33}</string>
			<key>textureRect</key>
			<string>{{2885,0},{109,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_08_price_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,33}</string>
			<key>spriteSourceSize</key>
			<string>{109,33}</string>
			<key>textureRect</key>
			<string>{{2996,0},{109,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>chest_09_price_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,33}</string>
			<key>spriteSourceSize</key>
			<string>{109,33}</string>
			<key>textureRect</key>
			<string>{{3107,0},{109,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tier1label_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3.50,-4}</string>
			<key>spriteSize</key>
			<string>{145,48}</string>
			<key>spriteSourceSize</key>
			<string>{145,48}</string>
			<key>textureRect</key>
			<string>{{1807,0},{145,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tier2label_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{152,48}</string>
			<key>spriteSourceSize</key>
			<string>{152,48}</string>
			<key>textureRect</key>
			<string>{{1954,0},{152,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>treasureRoomGround_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1068,53}</string>
			<key>spriteSourceSize</key>
			<string>{1068,53}</string>
			<key>textureRect</key>
			<string>{{737,0},{1068,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>treasureRoomLabel_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{615,62}</string>
			<key>spriteSourceSize</key>
			<string>{615,62}</string>
			<key>textureRect</key>
			<string>{{120,0},{615,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>treasureRoomSpiderweb_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{118,118}</string>
			<key>spriteSourceSize</key>
			<string>{118,118}</string>
			<key>textureRect</key>
			<string>{{0,0},{118,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>TreasureRoomSheet-hd.png</string>
		<key>size</key>
		<string>{3373,118}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c91cb244a680af527e4a77589cde8666:465a43239dcd4f500fcf20e05e75bc3a:b668ab0d174c4c3c8e25b8d07c4ffcce$</string>
		<key>textureFileName</key>
		<string>TreasureRoomSheet-hd.png</string>
	</dict>
</dict>
</plist>