<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>uproxide.textures/TWS_Background.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{2560,1440}</string>
			<key>spriteSourceSize</key>
			<string>{2560,1440}</string>
			<key>textureRect</key>
			<string>{{0,0},{2560,1440}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Button.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{0,1442},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_ButtonLarge.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{291,83}</string>
			<key>spriteSourceSize</key>
			<string>{291,83}</string>
			<key>textureRect</key>
			<string>{{162,1442},{291,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_ButtonLargeSelected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{295,87}</string>
			<key>spriteSourceSize</key>
			<string>{295,87}</string>
			<key>textureRect</key>
			<string>{{455,1442},{295,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_ButtonSmall.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{133,130}</string>
			<key>spriteSourceSize</key>
			<string>{133,130}</string>
			<key>textureRect</key>
			<string>{{752,1442},{133,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Credits.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-0.5}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{176,168}</string>
			<key>textureRect</key>
			<string>{{887,1442},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_DeleteButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-2}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{1055,1442},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_DownloadButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-2}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{1239,1442},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_Error.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{336,336}</string>
			<key>spriteSourceSize</key>
			<string>{336,336}</string>
			<key>textureRect</key>
			<string>{{1423,1442},{336,336}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Featured.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{554,554}</string>
			<key>spriteSourceSize</key>
			<string>{554,554}</string>
			<key>textureRect</key>
			<string>{{1761,1442},{554,554}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_FileButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-2}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{2317,1442},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_FiltersPopdown.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{1213,108}</string>
			<key>spriteSourceSize</key>
			<string>{1213,108}</string>
			<key>textureRect</key>
			<string>{{0,1623},{1213,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_InfoButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-2}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{2317,1623},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_Logo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{1147,139}</string>
			<key>spriteSourceSize</key>
			<string>{1147,139}</string>
			<key>textureRect</key>
			<string>{{0,1733},{1147,139}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_MainButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{181,193}</string>
			<key>spriteSourceSize</key>
			<string>{181,193}</string>
			<key>textureRect</key>
			<string>{{1215,1623},{181,193}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_Outline.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{1300,1015}</string>
			<key>spriteSourceSize</key>
			<string>{1300,1015}</string>
			<key>textureRect</key>
			<string>{{0,1874},{1300,1015}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_OutlineOld.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{1300,1015}</string>
			<key>spriteSourceSize</key>
			<string>{1300,1015}</string>
			<key>textureRect</key>
			<string>{{1410,1998},{1300,1015}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_PlaceholderLogo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{322,322}</string>
			<key>spriteSourceSize</key>
			<string>{336,336}</string>
			<key>textureRect</key>
			<string>{{0,2891},{322,322}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_RefreshButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-2}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{324,2891},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_Search.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-4}</string>
			<key>spriteSize</key>
			<string>{162,126}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{2427,1804},{162,126}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_SearchButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{78,74}</string>
			<key>spriteSourceSize</key>
			<string>{78,74}</string>
			<key>textureRect</key>
			<string>{{1302,1806},{78,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_SideBar.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{225,502}</string>
			<key>spriteSourceSize</key>
			<string>{225,502}</string>
			<key>textureRect</key>
			<string>{{508,2891},{225,502}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_Update.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-3}</string>
			<key>spriteSize</key>
			<string>{70,168}</string>
			<key>spriteSourceSize</key>
			<string>{76,174}</string>
			<key>textureRect</key>
			<string>{{1302,1882},{70,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Workshop.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{763,118}</string>
			<key>spriteSourceSize</key>
			<string>{763,118}</string>
			<key>textureRect</key>
			<string>{{2427,1968},{763,118}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>uproxide.textures/TWSSheet-uhd.png</string>
		<key>size</key>
		<string>{2560,3298}</string>
		<key>textureFileName</key>
		<string>uproxide.textures/TWSSheet-uhd.png</string>
	</dict>
</dict>
</plist>