<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>uproxide.textures/TWS_Background.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1280,720}</string>
			<key>spriteSourceSize</key>
			<string>{1280,720}</string>
			<key>textureRect</key>
			<string>{{0,0},{1280,720}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Button.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{80,80}</string>
			<key>textureRect</key>
			<string>{{3981,0},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_ButtonLarge.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{145,41}</string>
			<key>spriteSourceSize</key>
			<string>{145,41}</string>
			<key>textureRect</key>
			<string>{{1866,722},{145,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_ButtonLargeSelected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{147,43}</string>
			<key>spriteSourceSize</key>
			<string>{147,43}</string>
			<key>textureRect</key>
			<string>{{1717,722},{147,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_ButtonSmall.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{66,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,65}</string>
			<key>textureRect</key>
			<string>{{575,722},{66,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Credits.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-0.25}</string>
			<key>spriteSize</key>
			<string>{83,81}</string>
			<key>spriteSourceSize</key>
			<string>{83,81}</string>
			<key>textureRect</key>
			<string>{{3896,0},{83,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_DeleteButton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,-1}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{89,91}</string>
			<key>textureRect</key>
			<string>{{3404,0},{89,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_DownloadButton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,-1}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{89,91}</string>
			<key>textureRect</key>
			<string>{{3495,0},{89,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Error.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{168,168}</string>
			<key>spriteSourceSize</key>
			<string>{168,168}</string>
			<key>textureRect</key>
			<string>{{2979,0},{168,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Featured.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{277,277}</string>
			<key>spriteSourceSize</key>
			<string>{277,277}</string>
			<key>textureRect</key>
			<string>{{2586,0},{277,277}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_FileButton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,-1}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{89,91}</string>
			<key>textureRect</key>
			<string>{{3586,0},{89,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_FiltersPopdown.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{606,54}</string>
			<key>spriteSourceSize</key>
			<string>{606,54}</string>
			<key>textureRect</key>
			<string>{{1109,722},{606,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_InfoButton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,-1}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{89,91}</string>
			<key>textureRect</key>
			<string>{{3677,0},{89,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Logo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{573,69}</string>
			<key>spriteSourceSize</key>
			<string>{573,69}</string>
			<key>textureRect</key>
			<string>{{0,722},{573,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_MainButton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{90,96}</string>
			<key>spriteSourceSize</key>
			<string>{90,96}</string>
			<key>textureRect</key>
			<string>{{3312,0},{90,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Outline.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{650,507}</string>
			<key>spriteSourceSize</key>
			<string>{650,507}</string>
			<key>textureRect</key>
			<string>{{1282,0},{650,507}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_OutlineOld.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{650,507}</string>
			<key>spriteSourceSize</key>
			<string>{650,507}</string>
			<key>textureRect</key>
			<string>{{1934,0},{650,507}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_PlaceholderLogo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{161,161}</string>
			<key>spriteSourceSize</key>
			<string>{161,161}</string>
			<key>textureRect</key>
			<string>{{3149,0},{161,161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_RefreshButton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.75,-1}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{89,91}</string>
			<key>textureRect</key>
			<string>{{3768,0},{89,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Search.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{81,63}</string>
			<key>spriteSourceSize</key>
			<string>{81,63}</string>
			<key>textureRect</key>
			<string>{{643,722},{81,63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_SearchButton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{39,37}</string>
			<key>spriteSourceSize</key>
			<string>{39,37}</string>
			<key>textureRect</key>
			<string>{{2013,722},{39,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_SideBar.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{112,251}</string>
			<key>spriteSourceSize</key>
			<string>{112,251}</string>
			<key>textureRect</key>
			<string>{{2865,0},{112,251}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Update.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-1.50}</string>
			<key>spriteSize</key>
			<string>{35,84}</string>
			<key>spriteSourceSize</key>
			<string>{35,84}</string>
			<key>textureRect</key>
			<string>{{3859,0},{35,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Workshop.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{381,59}</string>
			<key>spriteSourceSize</key>
			<string>{381,59}</string>
			<key>textureRect</key>
			<string>{{726,722},{381,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>uproxide.textures/TWSSheet-hd.png</string>
		<key>size</key>
		<string>{4061,791}</string>
		<key>textureFileName</key>
		<string>uproxide.textures/TWSSheet-hd.png</string>
	</dict>
</dict>
</plist>