<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>itzkiba.better_progression/default.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{1327,0},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/glow_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{82,88}</string>
			<key>spriteSourceSize</key>
			<string>{82,88}</string>
			<key>textureRect</key>
			<string>{{790,0},{82,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/glow_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{82,88}</string>
			<key>spriteSourceSize</key>
			<string>{82,88}</string>
			<key>textureRect</key>
			<string>{{874,0},{82,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/glow_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{113,88}</string>
			<key>spriteSourceSize</key>
			<string>{113,88}</string>
			<key>textureRect</key>
			<string>{{958,0},{113,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/glow_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{113,88}</string>
			<key>spriteSourceSize</key>
			<string>{113,88}</string>
			<key>textureRect</key>
			<string>{{1073,0},{113,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/glow_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{137,88}</string>
			<key>spriteSourceSize</key>
			<string>{137,88}</string>
			<key>textureRect</key>
			<string>{{1188,0},{137,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/shadow.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{95,102}</string>
			<key>spriteSourceSize</key>
			<string>{95,102}</string>
			<key>textureRect</key>
			<string>{{693,0},{95,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/shineball.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{189,189}</string>
			<key>spriteSourceSize</key>
			<string>{189,189}</string>
			<key>textureRect</key>
			<string>{{502,0},{189,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier0_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{1395,0},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier0_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{1463,0},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier0_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{1531,0},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier0_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{1631,0},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier0_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{122,73}</string>
			<key>spriteSourceSize</key>
			<string>{122,73}</string>
			<key>textureRect</key>
			<string>{{1731,0},{122,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier10_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{1855,0},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier10_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{1923,0},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier10_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{1991,0},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier10_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{2091,0},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier10_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{122,73}</string>
			<key>spriteSourceSize</key>
			<string>{122,73}</string>
			<key>textureRect</key>
			<string>{{2191,0},{122,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier11_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{2315,0},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier11_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{2383,0},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier11_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{2451,0},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier11_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{2551,0},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier11_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{122,73}</string>
			<key>spriteSourceSize</key>
			<string>{122,73}</string>
			<key>textureRect</key>
			<string>{{2651,0},{122,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{122,73}</string>
			<key>spriteSourceSize</key>
			<string>{122,73}</string>
			<key>textureRect</key>
			<string>{{2775,0},{122,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier1_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{2899,0},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier1_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{2967,0},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier1_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{3035,0},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier1_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{3135,0},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier1_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{122,73}</string>
			<key>spriteSourceSize</key>
			<string>{122,73}</string>
			<key>textureRect</key>
			<string>{{3235,0},{122,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier2_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{3359,0},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier2_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{3427,0},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier2_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{3495,0},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier2_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{3595,0},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier2_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{122,73}</string>
			<key>spriteSourceSize</key>
			<string>{122,73}</string>
			<key>textureRect</key>
			<string>{{3695,0},{122,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier3_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{3819,0},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier3_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{3887,0},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier3_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{3955,0},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier3_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{0,328},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier3_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{122,73}</string>
			<key>spriteSourceSize</key>
			<string>{122,73}</string>
			<key>textureRect</key>
			<string>{{100,328},{122,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier4_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{224,328},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier4_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{292,328},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier4_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{360,328},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier4_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{460,328},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier4_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{122,73}</string>
			<key>spriteSourceSize</key>
			<string>{122,73}</string>
			<key>textureRect</key>
			<string>{{560,328},{122,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier5_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{684,328},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier5_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{752,328},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier5_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{820,328},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier5_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{920,328},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier5_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{122,73}</string>
			<key>spriteSourceSize</key>
			<string>{122,73}</string>
			<key>textureRect</key>
			<string>{{1020,328},{122,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier6_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{1144,328},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier6_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{1212,328},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier6_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{1280,328},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier6_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{1380,328},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier6_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{122,73}</string>
			<key>spriteSourceSize</key>
			<string>{122,73}</string>
			<key>textureRect</key>
			<string>{{1480,328},{122,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier7_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{1604,328},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier7_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{1672,328},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier7_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{1740,328},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier7_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{1840,328},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier7_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{122,73}</string>
			<key>spriteSourceSize</key>
			<string>{122,73}</string>
			<key>textureRect</key>
			<string>{{1940,328},{122,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier8_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{2064,328},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier8_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{2132,328},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier8_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{2200,328},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier8_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{2300,328},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier8_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{122,73}</string>
			<key>spriteSourceSize</key>
			<string>{122,73}</string>
			<key>textureRect</key>
			<string>{{2400,328},{122,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier9_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{2524,328},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier9_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,73}</string>
			<key>spriteSourceSize</key>
			<string>{66,73}</string>
			<key>textureRect</key>
			<string>{{2592,328},{66,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier9_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{2660,328},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier9_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{98,73}</string>
			<key>spriteSourceSize</key>
			<string>{98,73}</string>
			<key>textureRect</key>
			<string>{{2760,328},{98,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier9_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{122,73}</string>
			<key>spriteSourceSize</key>
			<string>{122,73}</string>
			<key>textureRect</key>
			<string>{{2860,328},{122,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tierup.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.50,-2}</string>
			<key>spriteSize</key>
			<string>{349,72}</string>
			<key>spriteSourceSize</key>
			<string>{349,72}</string>
			<key>textureRect</key>
			<string>{{2984,328},{349,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/view.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1.50}</string>
			<key>spriteSize</key>
			<string>{500,326}</string>
			<key>spriteSourceSize</key>
			<string>{500,326}</string>
			<key>textureRect</key>
			<string>{{0,0},{500,326}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>itzkiba.better_progression/badgeSpritesheet-hd.png</string>
		<key>size</key>
		<string>{4053,401}</string>
		<key>textureFileName</key>
		<string>itzkiba.better_progression/badgeSpritesheet-hd.png</string>
	</dict>
</dict>
</plist>