<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>itzkiba.better_progression/default.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{0,0},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/glow_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{164,177}</string>
			<key>spriteSourceSize</key>
			<string>{300,300}</string>
			<key>textureRect</key>
			<string>{{149,0},{164,177}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/glow_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{164,177}</string>
			<key>spriteSourceSize</key>
			<string>{300,300}</string>
			<key>textureRect</key>
			<string>{{328,0},{164,177}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/glow_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{226,177}</string>
			<key>spriteSourceSize</key>
			<string>{300,300}</string>
			<key>textureRect</key>
			<string>{{507,0},{226,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/glow_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{226,177}</string>
			<key>spriteSourceSize</key>
			<string>{300,300}</string>
			<key>textureRect</key>
			<string>{{735,0},{226,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/glow_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{274,177}</string>
			<key>spriteSourceSize</key>
			<string>{300,300}</string>
			<key>textureRect</key>
			<string>{{963,0},{274,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/shadow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{190,205}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1239,0},{190,205}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/shineball.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{379,379}</string>
			<key>spriteSourceSize</key>
			<string>{400,400}</string>
			<key>textureRect</key>
			<string>{{1446,0},{379,379}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier0_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1827,0},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier0_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1976,0},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier0_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1827,134},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier0_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{2025,134},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier0_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{244,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{0,166},{244,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier10_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{246,166},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier10_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{395,179},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier10_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{544,179},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier10_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{742,179},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier10_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{244,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{940,179},{244,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier11_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1186,192},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier11_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1827,283},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier11_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1976,283},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier11_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{246,313},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier11_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{244,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{0,315},{244,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier12.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{244,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1186,326},{244,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier1_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{444,328},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier1_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{593,328},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier1_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{742,328},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier1_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{940,328},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier1_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{244,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1432,381},{244,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier2_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1678,381},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier2_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1827,417},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier2_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1976,432},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier2_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{246,462},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier2_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{244,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{444,462},{244,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier3_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{0,464},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier3_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1138,475},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier3_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{690,477},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier3_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{888,477},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier3_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{244,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1287,530},{244,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier4_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1678,515},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier4_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1533,530},{132,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier4_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1827,581},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier4_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{2025,581},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier4_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{244,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{0,598},{244,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier5_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1086,609},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier5_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{246,611},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier5_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{395,611},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier5_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{593,626},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier5_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{244,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{791,626},{244,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier6_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1667,649},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier6_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1235,679},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier6_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1384,679},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier6_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1816,730},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier6_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{244,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{2014,730},{244,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier7_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1037,743},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier7_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{246,745},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier7_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{0,747},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier7_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{395,760},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier7_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{244,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{593,775},{244,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier8_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{839,775},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier8_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1582,783},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier8_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1186,813},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier8_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1384,828},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier8_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{244,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1731,879},{244,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier9_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{988,877},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier9_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{198,879},{132,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier9_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{1977,879},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier9_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{196,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{0,896},{196,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier9_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{244,147}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{347,909},{244,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tierup.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-3,-4}</string>
			<key>spriteSize</key>
			<string>{699,145}</string>
			<key>spriteSourceSize</key>
			<string>{754,179}</string>
			<key>textureRect</key>
			<string>{{839,1011},{699,145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/view.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{1000,653}</string>
			<key>spriteSourceSize</key>
			<string>{1000,1000}</string>
			<key>textureRect</key>
			<string>{{198,1158},{1000,653}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>itzkiba.better_progression/badgeSpritesheet-uhd.png</string>
		<key>size</key>
		<string>{2258,1811}</string>
		<key>textureFileName</key>
		<string>itzkiba.better_progression/badgeSpritesheet-uhd.png</string>
	</dict>
</dict>
</plist>