<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dankmeme.globed2/button-admin-ban.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{585,396},{92,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-admin-eject.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{679,396},{92,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-admin-history.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{773,396},{92,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-admin-kick.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{867,396},{92,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-admin-mute.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{961,396},{92,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-admin-notice.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{1055,396},{92,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-admin-password.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{1149,396},{92,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-admin-room-ban.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-3}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{105,109}</string>
			<key>textureRect</key>
			<string>{{1981,0},{105,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-admin-room-unban.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-3}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{105,109}</string>
			<key>textureRect</key>
			<string>{{2088,0},{105,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-admin-unban.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,96}</string>
			<key>spriteSourceSize</key>
			<string>{92,96}</string>
			<key>textureRect</key>
			<string>{{303,396},{92,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-admin-unmute.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{1243,396},{92,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-admin-unwhitelist.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{1337,396},{92,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-admin-verify.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,96}</string>
			<key>spriteSourceSize</key>
			<string>{92,96}</string>
			<key>textureRect</key>
			<string>{{397,396},{92,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-admin-whitelist.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{1431,396},{92,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-pin-level.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{1525,396},{92,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-privacy-ingame-off.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{4020,0},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-privacy-ingame-on.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2148,498},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-privacy-invites-off.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2214,498},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-privacy-invites-on.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2280,498},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-privacy-lists-off.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2346,498},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-privacy-lists-on.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2412,498},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-privacy-roles-off.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2478,498},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-privacy-roles-on.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2544,498},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-privacy-settings.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2610,498},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/button-secret.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2676,498},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/conn-test-bars-icon.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{3279,498},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/conn-test-desktop-icon.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{3345,498},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/conn-test-internet-icon.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,61}</string>
			<key>spriteSourceSize</key>
			<string>{60,61}</string>
			<key>textureRect</key>
			<string>{{3411,498},{60,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/conn-test-xbl-icon.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{44,45}</string>
			<key>spriteSourceSize</key>
			<string>{44,45}</string>
			<key>textureRect</key>
			<string>{{492,584},{44,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/daily-glow.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{149,149}</string>
			<key>spriteSourceSize</key>
			<string>{149,149}</string>
			<key>textureRect</key>
			<string>{{1663,0},{149,149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/deafen-icon-off.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{53,48}</string>
			<key>spriteSourceSize</key>
			<string>{53,48}</string>
			<key>textureRect</key>
			<string>{{174,584},{53,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/deafen-icon-on.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{55,48}</string>
			<key>spriteSourceSize</key>
			<string>{55,48}</string>
			<key>textureRect</key>
			<string>{{229,584},{55,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/default-player-cube.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,60}</string>
			<key>spriteSourceSize</key>
			<string>{60,60}</string>
			<key>textureRect</key>
			<string>{{3473,498},{60,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/dummy-icon2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.50,0}</string>
			<key>spriteSize</key>
			<string>{53,54}</string>
			<key>spriteSourceSize</key>
			<string>{53,54}</string>
			<key>textureRect</key>
			<string>{{3888,498},{53,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/featured-player-icon.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,65}</string>
			<key>spriteSourceSize</key>
			<string>{57,65}</string>
			<key>textureRect</key>
			<string>{{4031,396},{57,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/friend-gradient.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{292,60}</string>
			<key>spriteSourceSize</key>
			<string>{292,60}</string>
			<key>textureRect</key>
			<string>{{3535,498},{292,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/friend-icon.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{91,71}</string>
			<key>spriteSourceSize</key>
			<string>{91,71}</string>
			<key>textureRect</key>
			<string>{{1803,498},{91,71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-among-us.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{384,394}</string>
			<key>spriteSourceSize</key>
			<string>{384,394}</string>
			<key>textureRect</key>
			<string>{{0,0},{384,394}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-ban.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-0.50}</string>
			<key>spriteSize</key>
			<string>{83,81}</string>
			<key>spriteSourceSize</key>
			<string>{83,81}</string>
			<key>textureRect</key>
			<string>{{1384,498},{83,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-chat.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{91,77}</string>
			<key>spriteSourceSize</key>
			<string>{91,77}</string>
			<key>textureRect</key>
			<string>{{1710,498},{91,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-close-room.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,83}</string>
			<key>spriteSourceSize</key>
			<string>{86,83}</string>
			<key>textureRect</key>
			<string>{{3419,396},{86,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-credits.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,83}</string>
			<key>spriteSourceSize</key>
			<string>{86,83}</string>
			<key>textureRect</key>
			<string>{{3507,396},{86,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-crown-btn.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-2}</string>
			<key>spriteSize</key>
			<string>{160,101}</string>
			<key>spriteSourceSize</key>
			<string>{160,101}</string>
			<key>textureRect</key>
			<string>{{3756,0},{160,101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-crown-small.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{78,65}</string>
			<key>spriteSourceSize</key>
			<string>{78,65}</string>
			<key>textureRect</key>
			<string>{{2742,498},{78,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-crown.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{163,108}</string>
			<key>spriteSourceSize</key>
			<string>{163,108}</string>
			<key>textureRect</key>
			<string>{{2195,0},{163,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-discord.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,83}</string>
			<key>spriteSourceSize</key>
			<string>{86,83}</string>
			<key>textureRect</key>
			<string>{{3595,396},{86,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-edition.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{3918,0},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-epic.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,17}</string>
			<key>spriteSize</key>
			<string>{95,97}</string>
			<key>spriteSourceSize</key>
			<string>{95,97}</string>
			<key>textureRect</key>
			<string>{{206,396},{95,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-featured-label.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,0}</string>
			<key>spriteSize</key>
			<string>{386,103}</string>
			<key>spriteSourceSize</key>
			<string>{386,103}</string>
			<key>textureRect</key>
			<string>{{3368,0},{386,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-featured.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,11.50}</string>
			<key>spriteSize</key>
			<string>{82,83}</string>
			<key>spriteSourceSize</key>
			<string>{82,83}</string>
			<key>textureRect</key>
			<string>{{3683,396},{82,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-folder-settings.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,1}</string>
			<key>spriteSize</key>
			<string>{66,54}</string>
			<key>spriteSourceSize</key>
			<string>{66,54}</string>
			<key>textureRect</key>
			<string>{{3943,498},{66,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-glow.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,108}</string>
			<key>spriteSourceSize</key>
			<string>{109,108}</string>
			<key>textureRect</key>
			<string>{{2360,0},{109,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-hide-player.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{90,91}</string>
			<key>spriteSourceSize</key>
			<string>{90,91}</string>
			<key>textureRect</key>
			<string>{{1619,396},{90,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-invite-menu.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2822,498},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-invite.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.50,0}</string>
			<key>spriteSize</key>
			<string>{50,37}</string>
			<key>spriteSourceSize</key>
			<string>{50,37}</string>
			<key>textureRect</key>
			<string>{{758,584},{50,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-kick-all.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{90,91}</string>
			<key>spriteSourceSize</key>
			<string>{90,91}</string>
			<key>textureRect</key>
			<string>{{1711,396},{90,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-kick.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,95}</string>
			<key>spriteSourceSize</key>
			<string>{92,95}</string>
			<key>textureRect</key>
			<string>{{491,396},{92,95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-kofi.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,83}</string>
			<key>spriteSourceSize</key>
			<string>{86,83}</string>
			<key>textureRect</key>
			<string>{{3767,396},{86,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-leave-server.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{2888,498},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-level-list.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,83}</string>
			<key>spriteSourceSize</key>
			<string>{86,83}</string>
			<key>textureRect</key>
			<string>{{3855,396},{86,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-logout.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{57,58}</string>
			<key>spriteSourceSize</key>
			<string>{57,58}</string>
			<key>textureRect</key>
			<string>{{3829,498},{57,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-mute.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{76,79}</string>
			<key>spriteSourceSize</key>
			<string>{76,79}</string>
			<key>textureRect</key>
			<string>{{1554,498},{76,79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-outstanding-overlay.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-5.50}</string>
			<key>spriteSize</key>
			<string>{77,38}</string>
			<key>spriteSourceSize</key>
			<string>{77,38}</string>
			<key>textureRect</key>
			<string>{{679,584},{77,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-outstanding.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1.50,15.50}</string>
			<key>spriteSize</key>
			<string>{102,100}</string>
			<key>spriteSourceSize</key>
			<string>{102,100}</string>
			<key>textureRect</key>
			<string>{{0,396},{102,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-person.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,65}</string>
			<key>spriteSourceSize</key>
			<string>{57,65}</string>
			<key>textureRect</key>
			<string>{{2954,498},{57,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-players.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{88,70}</string>
			<key>spriteSourceSize</key>
			<string>{88,70}</string>
			<key>textureRect</key>
			<string>{{1896,498},{88,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-refresh-square.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{3013,498},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-send-btn.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{90,91}</string>
			<key>spriteSourceSize</key>
			<string>{90,91}</string>
			<key>textureRect</key>
			<string>{{1803,396},{90,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-server-folder.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,83}</string>
			<key>spriteSourceSize</key>
			<string>{86,83}</string>
			<key>textureRect</key>
			<string>{{3943,396},{86,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-settings.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,83}</string>
			<key>spriteSourceSize</key>
			<string>{86,83}</string>
			<key>textureRect</key>
			<string>{{780,498},{86,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-show-motd.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,83}</string>
			<key>spriteSourceSize</key>
			<string>{86,83}</string>
			<key>textureRect</key>
			<string>{{868,498},{86,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-show-player.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{90,91}</string>
			<key>spriteSourceSize</key>
			<string>{90,91}</string>
			<key>textureRect</key>
			<string>{{1895,396},{90,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-teleport.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,-1.50}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{105,106}</string>
			<key>textureRect</key>
			<string>{{3261,0},{105,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-unban.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.50,-0.50}</string>
			<key>spriteSize</key>
			<string>{83,81}</string>
			<key>spriteSourceSize</key>
			<string>{83,81}</string>
			<key>textureRect</key>
			<string>{{1469,498},{83,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-unmute.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{76,79}</string>
			<key>spriteSourceSize</key>
			<string>{76,79}</string>
			<key>textureRect</key>
			<string>{{1632,498},{76,79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-unwhitelist.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.50}</string>
			<key>spriteSize</key>
			<string>{80,70}</string>
			<key>spriteSourceSize</key>
			<string>{80,70}</string>
			<key>textureRect</key>
			<string>{{1986,498},{80,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-voice-chat-guide.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,83}</string>
			<key>spriteSourceSize</key>
			<string>{86,83}</string>
			<key>textureRect</key>
			<string>{{956,498},{86,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-whitelist.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.50,-0.50}</string>
			<key>spriteSize</key>
			<string>{78,70}</string>
			<key>spriteSourceSize</key>
			<string>{78,70}</string>
			<key>textureRect</key>
			<string>{{2068,498},{78,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/kofi-promo-border.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{618,364}</string>
			<key>spriteSourceSize</key>
			<string>{618,364}</string>
			<key>textureRect</key>
			<string>{{1043,0},{618,364}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/kofi-promo-card.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,0.50}</string>
			<key>spriteSize</key>
			<string>{655,382}</string>
			<key>spriteSourceSize</key>
			<string>{655,382}</string>
			<key>textureRect</key>
			<string>{{386,0},{655,382}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/list-border-bottom.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,7.50}</string>
			<key>spriteSize</key>
			<string>{778,84}</string>
			<key>spriteSourceSize</key>
			<string>{778,84}</string>
			<key>textureRect</key>
			<string>{{0,498},{778,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/list-border-side.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5.50,0}</string>
			<key>spriteSize</key>
			<string>{44,128}</string>
			<key>spriteSourceSize</key>
			<string>{44,128}</string>
			<key>textureRect</key>
			<string>{{1814,0},{44,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/list-border-top.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{788,87}</string>
			<key>spriteSourceSize</key>
			<string>{788,87}</string>
			<key>textureRect</key>
			<string>{{2629,396},{788,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/menuicon.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{104,396},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/pencil.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.50,0}</string>
			<key>spriteSize</key>
			<string>{53,54}</string>
			<key>spriteSourceSize</key>
			<string>{53,54}</string>
			<key>textureRect</key>
			<string>{{4011,498},{53,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/practice-gray-btn.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-3.50}</string>
			<key>spriteSize</key>
			<string>{119,122}</string>
			<key>spriteSourceSize</key>
			<string>{119,122}</string>
			<key>textureRect</key>
			<string>{{1860,0},{119,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/room-icon-2p.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{83,82}</string>
			<key>spriteSourceSize</key>
			<string>{83,82}</string>
			<key>textureRect</key>
			<string>{{1044,498},{83,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/room-icon-collision.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{83,82}</string>
			<key>spriteSourceSize</key>
			<string>{83,82}</string>
			<key>textureRect</key>
			<string>{{1129,498},{83,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/room-icon-deathlink.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{83,82}</string>
			<key>spriteSourceSize</key>
			<string>{83,82}</string>
			<key>textureRect</key>
			<string>{{1214,498},{83,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/room-icon-lock.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{83,82}</string>
			<key>spriteSourceSize</key>
			<string>{83,82}</string>
			<key>textureRect</key>
			<string>{{1299,498},{83,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/secret-question-mark.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0.50}</string>
			<key>spriteSize</key>
			<string>{66,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,65}</string>
			<key>textureRect</key>
			<string>{{3079,498},{66,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/shadow-thing-idk.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{154,47}</string>
			<key>spriteSourceSize</key>
			<string>{154,47}</string>
			<key>textureRect</key>
			<string>{{336,584},{154,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon-mute.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,48}</string>
			<key>spriteSourceSize</key>
			<string>{48,48}</string>
			<key>textureRect</key>
			<string>{{286,584},{48,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon-red.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{45,41}</string>
			<key>spriteSourceSize</key>
			<string>{45,41}</string>
			<key>textureRect</key>
			<string>{{538,584},{45,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon-yellow.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{45,41}</string>
			<key>spriteSourceSize</key>
			<string>{45,41}</string>
			<key>textureRect</key>
			<string>{{585,584},{45,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{45,41}</string>
			<key>spriteSourceSize</key>
			<string>{45,41}</string>
			<key>textureRect</key>
			<string>{{632,584},{45,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/status-invisible.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.50,0}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{3147,498},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/status-visible.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.50,0}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{64,65}</string>
			<key>textureRect</key>
			<string>{{3213,498},{64,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/tab-gradient-mask.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4.50}</string>
			<key>spriteSize</key>
			<string>{172,54}</string>
			<key>spriteSourceSize</key>
			<string>{172,54}</string>
			<key>textureRect</key>
			<string>{{0,584},{172,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/tab-gradient.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{788,107}</string>
			<key>spriteSourceSize</key>
			<string>{788,107}</string>
			<key>textureRect</key>
			<string>{{2471,0},{788,107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/title-daily.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{640,91}</string>
			<key>spriteSourceSize</key>
			<string>{640,91}</string>
			<key>textureRect</key>
			<string>{{1987,396},{640,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/white-period.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.50,-1}</string>
			<key>spriteSize</key>
			<string>{19,19}</string>
			<key>spriteSourceSize</key>
			<string>{19,19}</string>
			<key>textureRect</key>
			<string>{{4066,498},{19,19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>dankmeme.globed2/globedsheet1-hd.png</string>
		<key>size</key>
		<string>{4088,638}</string>
		<key>textureFileName</key>
		<string>dankmeme.globed2/globedsheet1-hd.png</string>
	</dict>
</dict>
</plist>