<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dankmeme.globed2/button-admin-ban.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,189}</string>
			<key>spriteSourceSize</key>
			<string>{184,189}</string>
			<key>textureRect</key>
			<string>{{0,0},{184,189}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-eject.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,189}</string>
			<key>spriteSourceSize</key>
			<string>{184,189}</string>
			<key>textureRect</key>
			<string>{{191,0},{184,189}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-history.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,189}</string>
			<key>spriteSourceSize</key>
			<string>{184,189}</string>
			<key>textureRect</key>
			<string>{{382,0},{184,189}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-kick.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,189}</string>
			<key>spriteSourceSize</key>
			<string>{184,189}</string>
			<key>textureRect</key>
			<string>{{573,0},{184,189}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-mute.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,189}</string>
			<key>spriteSourceSize</key>
			<string>{184,189}</string>
			<key>textureRect</key>
			<string>{{764,0},{184,189}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-notice.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,189}</string>
			<key>spriteSourceSize</key>
			<string>{184,189}</string>
			<key>textureRect</key>
			<string>{{955,0},{184,189}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-password.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,189}</string>
			<key>spriteSourceSize</key>
			<string>{184,189}</string>
			<key>textureRect</key>
			<string>{{1146,0},{184,189}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-room-ban.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-6}</string>
			<key>spriteSize</key>
			<string>{211,218}</string>
			<key>spriteSourceSize</key>
			<string>{225,243}</string>
			<key>textureRect</key>
			<string>{{1337,0},{211,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-room-unban.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-6}</string>
			<key>spriteSize</key>
			<string>{211,218}</string>
			<key>spriteSourceSize</key>
			<string>{225,243}</string>
			<key>textureRect</key>
			<string>{{1557,0},{211,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-unban.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,192}</string>
			<key>spriteSourceSize</key>
			<string>{184,192}</string>
			<key>textureRect</key>
			<string>{{1777,0},{184,192}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-unmute.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,189}</string>
			<key>spriteSourceSize</key>
			<string>{184,189}</string>
			<key>textureRect</key>
			<string>{{1971,0},{184,189}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-unwhitelist.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,189}</string>
			<key>spriteSourceSize</key>
			<string>{184,189}</string>
			<key>textureRect</key>
			<string>{{1777,186},{184,189}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-verify.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,192}</string>
			<key>spriteSourceSize</key>
			<string>{184,192}</string>
			<key>textureRect</key>
			<string>{{1968,186},{184,192}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-admin-whitelist.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,189}</string>
			<key>spriteSourceSize</key>
			<string>{184,189}</string>
			<key>textureRect</key>
			<string>{{0,186},{184,189}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-pin-level.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{184,189}</string>
			<key>spriteSourceSize</key>
			<string>{184,190}</string>
			<key>textureRect</key>
			<string>{{1518,297},{184,189}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-ingame-off.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{597,329},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-ingame-on.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{284,343},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-invites-off.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{417,343},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-invites-on.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{730,368},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-lists-off.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1709,372},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-lists-on.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{0,372},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-roles-off.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{133,372},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-roles-on.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1842,372},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-privacy-settings.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1975,372},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/button-secret.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{863,399},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/conn-test-bars-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{996,399},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/conn-test-desktop-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1126,453},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/conn-test-internet-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,122}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1256,453},{120,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/conn-test-xbl-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{89,90}</string>
			<key>spriteSourceSize</key>
			<string>{96,96}</string>
			<key>textureRect</key>
			<string>{{1420,311},{89,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/daily-glow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{298,298}</string>
			<key>spriteSourceSize</key>
			<string>{300,300}</string>
			<key>textureRect</key>
			<string>{{1578,2792},{298,298}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/deafen-icon-off.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{107,97}</string>
			<key>spriteSourceSize</key>
			<string>{124,124}</string>
			<key>textureRect</key>
			<string>{{191,186},{107,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/deafen-icon-on.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{111,97}</string>
			<key>spriteSourceSize</key>
			<string>{124,124}</string>
			<key>textureRect</key>
			<string>{{300,186},{111,97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/default-player-cube.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{121,120}</string>
			<key>spriteSourceSize</key>
			<string>{121,120}</string>
			<key>textureRect</key>
			<string>{{1008,2034},{121,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/dummy-icon2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{106,108}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{1131,2034},{106,108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/featured-player-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{115,131}</string>
			<key>spriteSourceSize</key>
			<string>{133,144}</string>
			<key>textureRect</key>
			<string>{{1924,2585},{115,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/friend-gradient.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-8,0}</string>
			<key>spriteSize</key>
			<string>{585,120}</string>
			<key>spriteSourceSize</key>
			<string>{600,120}</string>
			<key>textureRect</key>
			<string>{{202,2071},{585,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/friend-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{183,143}</string>
			<key>spriteSourceSize</key>
			<string>{200,144}</string>
			<key>textureRect</key>
			<string>{{266,473},{183,143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-among-us.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,0}</string>
			<key>spriteSize</key>
			<string>{769,789}</string>
			<key>spriteSourceSize</key>
			<string>{880,789}</string>
			<key>textureRect</key>
			<string>{{1380,502},{769,789}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-ban.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{550,459},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-chat.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{182,155}</string>
			<key>spriteSourceSize</key>
			<string>{190,190}</string>
			<key>textureRect</key>
			<string>{{413,186},{182,155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-close-room.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{172,166}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{0,502},{172,166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-credits.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{172,166}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{718,529},{172,166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-crown-btn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-4}</string>
			<key>spriteSize</key>
			<string>{321,202}</string>
			<key>spriteSourceSize</key>
			<string>{331,238}</string>
			<key>textureRect</key>
			<string>{{1878,2792},{321,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-crown-small.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{156,130}</string>
			<key>spriteSourceSize</key>
			<string>{156,130}</string>
			<key>textureRect</key>
			<string>{{892,529},{156,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-crown.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-8}</string>
			<key>spriteSize</key>
			<string>{327,217}</string>
			<key>spriteSourceSize</key>
			<string>{331,238}</string>
			<key>textureRect</key>
			<string>{{1878,2996},{327,217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-discord.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{172,166}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{1050,583},{172,166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-edition.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{200,200}</string>
			<key>spriteSourceSize</key>
			<string>{200,200}</string>
			<key>textureRect</key>
			<string>{{1578,3092},{200,200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-epic.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,34}</string>
			<key>spriteSize</key>
			<string>{190,194}</string>
			<key>spriteSourceSize</key>
			<string>{194,266}</string>
			<key>textureRect</key>
			<string>{{0,3150},{190,194}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-featured-label.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{772,207}</string>
			<key>spriteSourceSize</key>
			<string>{777,220}</string>
			<key>textureRect</key>
			<string>{{196,3150},{772,207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-featured.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,23}</string>
			<key>spriteSize</key>
			<string>{164,167}</string>
			<key>spriteSourceSize</key>
			<string>{168,215}</string>
			<key>textureRect</key>
			<string>{{970,3150},{164,167}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-folder-settings.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,2}</string>
			<key>spriteSize</key>
			<string>{133,109}</string>
			<key>spriteSourceSize</key>
			<string>{136,116}</string>
			<key>textureRect</key>
			<string>{{1224,583},{133,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-glow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{218,217}</string>
			<key>spriteSourceSize</key>
			<string>{225,217}</string>
			<key>textureRect</key>
			<string>{{1139,3150},{218,217}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-hide-player.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{180,182}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{174,618},{180,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-invite-menu.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{358,618},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-invite.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{100,74}</string>
			<key>spriteSourceSize</key>
			<string>{104,77}</string>
			<key>textureRect</key>
			<string>{{491,624},{100,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-kick-all.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-2}</string>
			<key>spriteSize</key>
			<string>{180,182}</string>
			<key>spriteSourceSize</key>
			<string>{184,190}</string>
			<key>textureRect</key>
			<string>{{593,697},{180,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-kick.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,190}</string>
			<key>spriteSourceSize</key>
			<string>{184,190}</string>
			<key>textureRect</key>
			<string>{{777,697},{184,190}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-kofi.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{172,166}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{0,670},{172,166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-leave-server.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1224,694},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-level-list.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{172,166}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{358,748},{172,166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-logout.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{114,116}</string>
			<key>spriteSourceSize</key>
			<string>{118,124}</string>
			<key>textureRect</key>
			<string>{{969,751},{114,116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-mute.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,158}</string>
			<key>spriteSourceSize</key>
			<string>{152,158}</string>
			<key>textureRect</key>
			<string>{{174,800},{152,158}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-outstanding-overlay.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-11}</string>
			<key>spriteSize</key>
			<string>{155,76}</string>
			<key>spriteSourceSize</key>
			<string>{250,266}</string>
			<key>textureRect</key>
			<string>{{1359,3150},{155,76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-outstanding.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-3,31}</string>
			<key>spriteSize</key>
			<string>{205,201}</string>
			<key>spriteSourceSize</key>
			<string>{250,266}</string>
			<key>textureRect</key>
			<string>{{1780,3215},{205,201}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-person.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{115,131}</string>
			<key>spriteSourceSize</key>
			<string>{133,144}</string>
			<key>textureRect</key>
			<string>{{1087,751},{115,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-players.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{176,141}</string>
			<key>spriteSourceSize</key>
			<string>{190,190}</string>
			<key>textureRect</key>
			<string>{{597,186},{176,141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-refresh-square.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{1220,824},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-send-btn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{180,183}</string>
			<key>spriteSourceSize</key>
			<string>{184,190}</string>
			<key>textureRect</key>
			<string>{{1987,3215},{180,183}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-server-folder.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{172,166}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{0,838},{172,166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-settings.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{172,166}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{969,868},{172,166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-show-motd.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{172,166}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{532,879},{172,166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-show-player.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{180,182}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{775,186},{180,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-teleport.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{211,213}</string>
			<key>spriteSourceSize</key>
			<string>{216,226}</string>
			<key>textureRect</key>
			<string>{{959,186},{211,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-unban.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-1}</string>
			<key>spriteSize</key>
			<string>{166,163}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{706,883},{166,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-unmute.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,158}</string>
			<key>spriteSourceSize</key>
			<string>{152,158}</string>
			<key>textureRect</key>
			<string>{{334,916},{152,158}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/icon-unwhitelist.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{160,141}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{1143,954},{160,141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-voice-chat-guide.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{172,166}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{0,1006},{172,166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/icon-whitelist.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{157,141}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{174,954},{157,141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/kofi-promo-border.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1236,728}</string>
			<key>spriteSourceSize</key>
			<string>{1238,728}</string>
			<key>textureRect</key>
			<string>{{0,1174},{1236,728}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/kofi-promo-card.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{1310,764}</string>
			<key>spriteSourceSize</key>
			<string>{1319,773}</string>
			<key>textureRect</key>
			<string>{{1357,1273},{1310,764}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/list-border-bottom.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,15}</string>
			<key>spriteSize</key>
			<string>{1556,169}</string>
			<key>spriteSourceSize</key>
			<string>{1556,206}</string>
			<key>textureRect</key>
			<string>{{0,2585},{1556,169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/list-border-side.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{11,0}</string>
			<key>spriteSize</key>
			<string>{88,256}</string>
			<key>spriteSourceSize</key>
			<string>{119,256}</string>
			<key>textureRect</key>
			<string>{{2123,1273},{88,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/list-border-top.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-16}</string>
			<key>spriteSize</key>
			<string>{1576,175}</string>
			<key>spriteSourceSize</key>
			<string>{1576,215}</string>
			<key>textureRect</key>
			<string>{{0,2756},{1576,175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/menuicon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{200,200}</string>
			<key>spriteSourceSize</key>
			<string>{200,200}</string>
			<key>textureRect</key>
			<string>{{0,1904},{200,200}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/pencil.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{106,108}</string>
			<key>spriteSourceSize</key>
			<string>{110,110}</string>
			<key>textureRect</key>
			<string>{{1238,1097},{106,108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/practice-gray-btn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{4,-7}</string>
			<key>spriteSize</key>
			<string>{238,244}</string>
			<key>spriteSourceSize</key>
			<string>{246,258}</string>
			<key>textureRect</key>
			<string>{{1174,213},{238,244}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/room-icon-2p.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{166,165}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{202,1904},{166,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/room-icon-collision.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{166,165}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{370,1904},{166,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/room-icon-deathlink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{166,165}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{538,1904},{166,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/room-icon-lock.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{166,165}</string>
			<key>spriteSourceSize</key>
			<string>{184,188}</string>
			<key>textureRect</key>
			<string>{{706,1904},{166,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/secret-question-mark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{132,131}</string>
			<key>spriteSourceSize</key>
			<string>{132,138}</string>
			<key>textureRect</key>
			<string>{{874,1904},{132,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/shadow-thing-idk.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{309,94}</string>
			<key>spriteSourceSize</key>
			<string>{310,94}</string>
			<key>textureRect</key>
			<string>{{1578,2585},{309,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon-mute.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{96,96}</string>
			<key>spriteSourceSize</key>
			<string>{96,96}</string>
			<key>textureRect</key>
			<string>{{1420,213},{96,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon-red.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{91,82}</string>
			<key>spriteSourceSize</key>
			<string>{96,96}</string>
			<key>textureRect</key>
			<string>{{1518,213},{91,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon-yellow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{91,82}</string>
			<key>spriteSourceSize</key>
			<string>{96,96}</string>
			<key>textureRect</key>
			<string>{{1611,213},{91,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/speaker-icon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{91,82}</string>
			<key>spriteSourceSize</key>
			<string>{96,96}</string>
			<key>textureRect</key>
			<string>{{191,285},{91,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/status-invisible.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{130,132}</string>
			<key>textureRect</key>
			<string>{{1008,1904},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/status-visible.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{130,132}</string>
			<key>textureRect</key>
			<string>{{1141,1904},{128,131}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>dankmeme.globed2/tab-gradient-mask.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-9}</string>
			<key>spriteSize</key>
			<string>{344,109}</string>
			<key>spriteSourceSize</key>
			<string>{369,128}</string>
			<key>textureRect</key>
			<string>{{1578,2681},{344,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/tab-gradient.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1576,215}</string>
			<key>spriteSourceSize</key>
			<string>{1576,215}</string>
			<key>textureRect</key>
			<string>{{0,2933},{1576,215}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/title-daily.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1280,183}</string>
			<key>spriteSourceSize</key>
			<string>{1280,183}</string>
			<key>textureRect</key>
			<string>{{0,3369},{1280,183}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dankmeme.globed2/white-period.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{38,38}</string>
			<key>spriteSourceSize</key>
			<string>{43,43}</string>
			<key>textureRect</key>
			<string>{{2123,1531},{38,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>dankmeme.globed2/globedsheet1-uhd.png</string>
		<key>size</key>
		<string>{2211,3552}</string>
		<key>textureFileName</key>
		<string>dankmeme.globed2/globedsheet1-uhd.png</string>
	</dict>
</dict>
</plist>