<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>raydeeux_limegradient.warbledcompletions/screenshot.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{117,119}</string>
			<key>spriteSourceSize</key>
			<string>{124,120}</string>
			<key>textureRect</key>
			<string>{{0,0},{117,119}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>raydeeux_limegradient.warbledcompletions/ButtonAssets-uhd.png</string>
		<key>size</key>
		<string>{119,117}</string>
		<key>textureFileName</key>
		<string>raydeeux_limegradient.warbledcompletions/ButtonAssets-uhd.png</string>
	</dict>
</dict>
</plist>