<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>raydeeux_limegradient.warbledcompletions/bluesky.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{122,120}</string>
			<key>spriteSourceSize</key>
			<string>{124,120}</string>
			<key>textureRect</key>
			<string>{{0,0},{122,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux_limegradient.warbledcompletions/blueskyAlpha.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{119,118}</string>
			<key>spriteSourceSize</key>
			<string>{124,120}</string>
			<key>textureRect</key>
			<string>{{124,0},{119,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux_limegradient.warbledcompletions/blueskyAlt.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,119}</string>
			<key>spriteSourceSize</key>
			<string>{124,120}</string>
			<key>textureRect</key>
			<string>{{124,120},{120,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux_limegradient.warbledcompletions/blueskyColon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{121,119}</string>
			<key>spriteSourceSize</key>
			<string>{124,120}</string>
			<key>textureRect</key>
			<string>{{0,122},{121,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux_limegradient.warbledcompletions/mastodon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{122,118}</string>
			<key>spriteSourceSize</key>
			<string>{124,120}</string>
			<key>textureRect</key>
			<string>{{123,241},{122,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux_limegradient.warbledcompletions/web.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{121,119}</string>
			<key>spriteSourceSize</key>
			<string>{124,120}</string>
			<key>textureRect</key>
			<string>{{0,243},{121,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>raydeeux_limegradient.warbledcompletions/OtherSocialMediaButtons-uhd.png</string>
		<key>size</key>
		<string>{245,362}</string>
		<key>textureFileName</key>
		<string>raydeeux_limegradient.warbledcompletions/OtherSocialMediaButtons-uhd.png</string>
	</dict>
</dict>
</plist>