<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fleym.nongd/JB_Edit.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{118,107}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{0,0},{118,107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fleym.nongd/JB_ListLogo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,-8}</string>
			<key>spriteSize</key>
			<string>{1270,258}</string>
			<key>spriteSourceSize</key>
			<string>{1366,318}</string>
			<key>textureRect</key>
			<string>{{0,109},{1270,258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fleym.nongd/JB_PinDisc.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{150,151}</string>
			<key>spriteSourceSize</key>
			<string>{150,151}</string>
			<key>textureRect</key>
			<string>{{0,369},{150,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>fleym.nongd/JB_PinDiscGold.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{146,146}</string>
			<key>spriteSourceSize</key>
			<string>{146,146}</string>
			<key>textureRect</key>
			<string>{{153,369},{146,146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fleym.nongd/JB_PinDiscRays.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{180,180}</string>
			<key>spriteSourceSize</key>
			<string>{180,180}</string>
			<key>textureRect</key>
			<string>{{301,369},{180,180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>fleym.nongd/JukeboxSheet-uhd.png</string>
		<key>size</key>
		<string>{1270,549}</string>
		<key>textureFileName</key>
		<string>fleym.nongd/JukeboxSheet-uhd.png</string>
	</dict>
</dict>
</plist>