<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_Logo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.50,-1.50}</string>
			<key>spriteSize</key>
			<string>{247,236}</string>
			<key>spriteSourceSize</key>
			<string>{247,236}</string>
			<key>textureRect</key>
			<string>{{0,0},{247,236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Recommended.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{162,163}</string>
			<key>spriteSourceSize</key>
			<string>{162,163}</string>
			<key>textureRect</key>
			<string>{{807,0},{162,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Roulette.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{155,177}</string>
			<key>spriteSourceSize</key>
			<string>{155,177}</string>
			<key>textureRect</key>
			<string>{{650,0},{155,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Search.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{161,161}</string>
			<key>spriteSourceSize</key>
			<string>{161,161}</string>
			<key>textureRect</key>
			<string>{{971,0},{161,161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Support.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,68}</string>
			<key>spriteSourceSize</key>
			<string>{101,68}</string>
			<key>textureRect</key>
			<string>{{1134,0},{101,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_demonProgressionBtn.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.50,-0.50}</string>
			<key>spriteSize</key>
			<string>{198,198}</string>
			<key>spriteSourceSize</key>
			<string>{198,198}</string>
			<key>textureRect</key>
			<string>{{249,0},{198,198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_demonProgressionBtnAlt.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-0.50}</string>
			<key>spriteSize</key>
			<string>{199,198}</string>
			<key>spriteSourceSize</key>
			<string>{199,198}</string>
			<key>textureRect</key>
			<string>{{449,0},{199,198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_tabBack.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-4.50}</string>
			<key>spriteSize</key>
			<string>{172,54}</string>
			<key>spriteSourceSize</key>
			<string>{172,54}</string>
			<key>textureRect</key>
			<string>{{1237,0},{172,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/Menu-hd.png</string>
		<key>size</key>
		<string>{1409,236}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/Menu-hd.png</string>
	</dict>
</dict>
</plist>