<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>minemaker0430.gddp_integration/DP_Logo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-3}</string>
			<key>spriteSize</key>
			<string>{495,472}</string>
			<key>spriteSourceSize</key>
			<string>{500,500}</string>
			<key>textureRect</key>
			<string>{{0,0},{495,472}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Recommended.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{324,327}</string>
			<key>spriteSourceSize</key>
			<string>{324,327}</string>
			<key>textureRect</key>
			<string>{{497,0},{324,327}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Roulette.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{310,354}</string>
			<key>spriteSourceSize</key>
			<string>{310,354}</string>
			<key>textureRect</key>
			<string>{{497,326},{310,354}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Search.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{322,322}</string>
			<key>spriteSourceSize</key>
			<string>{322,322}</string>
			<key>textureRect</key>
			<string>{{0,474},{322,322}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_Support.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{202,136}</string>
			<key>spriteSourceSize</key>
			<string>{278,278}</string>
			<key>textureRect</key>
			<string>{{324,474},{202,136}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_demonProgressionBtn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{396,396}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{462,638},{396,396}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_demonProgressionBtnAlt.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{398,396}</string>
			<key>spriteSourceSize</key>
			<string>{398,398}</string>
			<key>textureRect</key>
			<string>{{0,798},{398,396}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>minemaker0430.gddp_integration/DP_tabBack.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-9}</string>
			<key>spriteSize</key>
			<string>{344,109}</string>
			<key>spriteSourceSize</key>
			<string>{369,128}</string>
			<key>textureRect</key>
			<string>{{860,0},{344,109}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>minemaker0430.gddp_integration/Menu-uhd.png</string>
		<key>size</key>
		<string>{969,1194}</string>
		<key>textureFileName</key>
		<string>minemaker0430.gddp_integration/Menu-uhd.png</string>
	</dict>
</dict>
</plist>