<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cvolton.betterinfo/BI_playIcon_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{142,194}</string>
			<key>spriteSourceSize</key>
			<string>{150,200}</string>
			<key>textureRect</key>
			<string>{{0,0},{142,194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>cvolton.betterinfo/SearchButtons-410-uhd.png</string>
		<key>size</key>
		<string>{142,194}</string>
		<key>textureFileName</key>
		<string>cvolton.betterinfo/SearchButtons-410-uhd.png</string>
	</dict>
</dict>
</plist>